/*component-reset.css*/

html {
    background-color: #F5F5F5;
    color: #424242;
    font-family: Verdana, Arial, Sans-serif !important;
    font-size: 12pt;
    font-weight: normal !important;
    line-height: 140% !important;
    min-height: 100vh !important;
    min-width: 100% !important;
    text-align: left !important;
    vertical-align: baseline !important;
    word-break: keep-all !important;
    word-wrap: break-word !important;
    white-space: normal;
}

html > body {
    font-family: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    min-height: calc( 100vh - 0.5px ) !important;
    min-width: calc( 100% - 0.5px ) !important;
    text-align: inherit !important;
    vertical-align: inherit !important;
}

html > body,
html > body > header, 
html > body > main, 
html > body > footer { 
    bottom: 0;
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
    left: 0;
    margin: 0;
    right: 0;
    top: 0;
    width: 100%;
    word-break: inherit;
    word-wrap:  inherit;
    white-space: inherit;
}

html > body > header, 
html > body > main, 
html > body > footer {
    font-size: inherit !important;
    line-height: inherit !important;
    text-align: inherit !important;
    max-width: inherit !important;
    min-height: 2px !important;
    min-width: 2px !important;
    vertical-align: inherit;
}

body > header, 
body > main,
body > footer {
    color: inherit;
    border: none;
    background-color: inherit;
    padding: 0;
}

body div, 
body nav, 
body menu, 
body ul, 
body ol, 
body li,
body table,
body pre, 
body p,
body a,
body address, 
body section, 
body article, 
body aside {
    border-color: inherit;
    box-sizing: border-box !important;
    bottom: 0;
    color: inherit;
    clear: both;
    display: inline-block;
    float: none;
    font-size: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    max-height: inherit;
    max-width: inherit;
    min-height: inherit;
    min-width: inherit;
    padding: 0;
    position: relative;
    text-align: inherit;
    top: 0;
    vertical-align: inherit;
}

body a, 
body a:link, 
body a:visited, 
body a:hover,
body a:focus, 
body a:active {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    width:auto;
}

body div,
body section {
    width: 100%;
}

/* RESET LISTS */
body nav,
body menu,
body ol, 
body ul {
    display: block;
    list-style: none;
    min-height: initial;
}

body ol li,
body ul li {
    display: inline-block;
    font-size: 1em;
    min-height: initial;
    width: 100%;
    white-space: normal;
}

body ol li > a,
body ol li > a:link,
body ol li > a:visited,
body ol li > a:hover,
body ol li > a:focus,
body ol li > a:active,
body ul li > a,
body ul li > a:link,
body ul li > a:visited,
body ul li > a:hover,
body ul li > a:focus,
body ul li > a:active {
    width: 100%;
    padding: 0.3em;
    white-space: normal;
}

/*RESET TABLES*/
body table,
body table thead,
body table tbody,
body table tfoot,
body table tr th,
body table tr td,
body form,
body legend,
body fieldset,
body input,
body select,
body textarea {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body table {
    background-color: #FEFEFE;
    border-collapse: collapse;
    border-color: currentColor;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    color: #212121;    
    display: table;
    margin: 2px;
    min-height: 10px;
    min-width: 20px;
}

body table thead,
body table tbody,
body table tfoot {
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
    border-spacing: inherit;
    border-width: 1px;
}

body table tr {
    display: table-row;
    width: auto;
    height: auto;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
}

body table tr:nth-child( 2n ) {
    background-color: #DFDFDF;
}

body table tr:hover {
    -webkit-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -moz-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -o-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -ms-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
}

body table tr th,
body table tr td {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    padding: 0.4em;
    white-space: normal;
}

body table tr th:not( :last-child ),
body table tr td:not( :last-child ) {
    border-right-style: solid;
    border-width: 1px;
    border-color: inherit; 
}

/*RESET TEXTOS*/
body h1, 
body h2, 
body h3, 
body h4, 
body h5, 
body h6,
body h7,
body h8,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body .h7,
body .h8 {
    margin: 0 !important;
    line-height: 1.4em;
    font-weight: normal;
    padding: 0.3em;
    padding-left: 7px;
    display: block;
    color: inherit;
    white-space: normal;
}

body h1,
body .h1 {
    font-size: 2.6em;
}

body h2,
body .h2 {
    font-size: 2.2em;
}

body h3,
body .h3 {
    font-size: 1.8em;
}

body h4,
body .h4 {
    font-size: 1.5em;
}

body h5,
body .h5 {
    font-size: 1.2em;
}

body h6,
body .h6 {
    font-size: 1.1em;
}

body h7,
body .h7 {
    font-size: 0.9em;
}

body h8,
body .h8 {
    font-size: 0.8em;
}

body pre, 
body p {
    background-color: #FDFDFD;
    color: #424242; /* #616161 */
    font-family: inherit;
    font-size: 1em;
    word-break: keep-all;
    word-wrap: break-word;
    font-weight: inherit;
    line-height: 140%;
    padding: 0.6em;
    text-align: left;
    white-space: normal;
}

body xmp {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    white-space: normal;
}

body button {
    cursor: pointer;
}

body div::after, 
body nav::after,
body menu::after, 
body ul::after, 
body ol::after,  
body li::after, 
body table::after,
body thead::after,
body tbody::after,
body tfoot::after, 
body tr::after, 
body pre::after, 
body p::after,
body a::after,
body address::after, 
body section::after, 
body article::after, 
body aside::after,
body xmp::after,
body hr::after {
    content:"";
    clear:both;
    display:block;
}

:hove,
:focus {
    outline: 0;
}

body .clear {
    clear: both !important;
    content: "";
}

body .text {
    color: #424242;
}

body .text-black {
    color: #212121;
}

body .text-white {
    color: #FAFAFA;
}

body .background-white {
    background-color: #F5F5F5;
    color: #424242;
}

body .background-black {
    background-color: #757575;
    color: #FAFAFA;
}

body .text-left {
    text-align: left;
}

body .text-center {
    text-align: center;
}

body .text-right {
    text-align: right;
}

body .small-caps {
    font-variant: small-caps;
}

body hr, body .hr {
    display: block;
    background-color: #FFF;
    padding: 0;
    font-size: 0;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

body .radius,
body .circle {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

body .radius-2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

body .radius-4,
body form,
body legend,
body fieldset, 
body input,
body select,
body textarea
body form button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

body .radius-8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

body form {
    color: #424242;
    border: solid 1px #AAA;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    width: calc( 100% - 28px );
}

body form,
body legend,
body fieldset {
    background-color: #F2F2F2;
    font-weight: 500;
    margin: 7px 14px;
    min-width: 292px;
    padding: 14px;
    text-align: center;
    white-space: normal;
}

body label,
body input,
body select,
body textarea,
body form button {
    color: #424242;
    border: solid 1px #CCC;
    font-size: 1em;
    margin: 3px 7px;
    min-width: 240px;
    outline-color: #1E88E5;
    padding: 7px 14px;
    position: relative;
    width: auto;
    background-color: #FFFFFF;
    white-space: normal;
    line-height: 1.4em;
}

body label {
    display: inline-block;
    min-width: 220px;
    width: calc( 100% - 44px );
    text-align: left;
}

body form fieldset,
body form legend {
    background: transparent;
    color: #767676;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    padding: 0;
    text-align: left;  
}

body form legend {
    font-size: 1.2em;
}

body form label,
body form input,
body form select,
body form textarea,
body form button {
    color: inherit;
    font-size: 1.2em;
    margin-top: 7px;
    padding: 7px 14px;
    position: relative;
    width: calc( 100% - 14px );
}

body button:disabled {
    color: #A0A0A0;
}

body form label {
    width: calc( 100% - 44px );
}

body form [data-type="checkbox"],
body form [data-type="radio"] {
    background-color: transparent;
    border: none;
}

body form [type="checkbox"],
body form [type="radio"] {
    float: left;
    display: inline-block;
    left: 0;
    margin: 7px 7px 0px -3px;
    min-width: 21px;
    padding: 0;
    text-align: left;
    width: 21px;
}
body button:disabled {
    color: #A0A0A0;
}


/*component-line.css*/

html .line,
html * [ class*="line-" ] {
    border-color: rgba( 255, 0, 0, 0.3 ) !important;
    border-width: 0.25px !important;
}

html .line {
	border-style: solid !important;
}

html .line-dashed {
    border-style: dashed !important;
}

html .line-dotted {
    border-style: dotted !important;
}

html .line-double {
    border-style: double !important;
}

/*component-window.css*/

body .window {
	min-height: calc( 480px / 6 );
	width: 100%;
	min-width: 160px;
	position: absolute;
}

body .window {
	opacity: 0;
	-webkit-transform: scale( 0.001, 0.001 );
	-moz-transform: scale( 0.001, 0.001 );
	-ms-transform: scale( 0.001, 0.001 );
	-o-transform: scale( 0.001, 0.001 );
	transform: scale( 0.001, 0.001 );
	-webkit-transition: opacity 0.3s linear, transform 0.3s ease-in-out, z-index 0.01s linear 0.31s;
	-moz-transition: opacity 0.3s linear, transform 0.3s ease-in-out, z-index 0.001s linear 0.31s;
	-ms-transition: opacity 0.3s linear, transform 0.3s ease-in-out, z-index 0.001s linear 0.31s;
	-o-transition: opacity 0.3s linear, transform 0.3s ease-in-out, z-index 0.001s linear 0.31s;
	transition: opacity 0.3s linear, transform 0.3s ease-in-out, z-index 0.001s linear 0.31s;
	will-change: opacity, transform, z-index, transition;
	z-index: 0;
}

body .active {
	opacity: 1;
	-webkit-transform: scale( 1, 1 );
	-moz-transform: scale( 1, 1 );
	-ms-transform: scale( 1, 1 );
	-o-transform: scale( 1, 1 );
	transform: scale( 1, 1 );
	-webkit-transition: opacity 0.2s linear, transform 0.3s ease-in-out, z-index 0.001s linear;
	-moz-transition: opacity 0.2s linear, transform 0.3s ease-in-out, z-index 0.001s linear;
	-ms-transition: opacity 0.2s linear, transform 0.3s ease-in-out, z-index 0.001s linear;
	-o-transition: opacity 0.2s linear, transform 0.3s ease-in-out, z-index 0.001s linear;
	transition: opacity 0.2s linear, transform 0.3s ease-in-out, z-index 0.01s linear;
	will-change: opacity, transform, z-index, transition;
	z-index: 1;
}

body .modal {
	-webkit-align-items: center !important;
	align-items: center !important;
	background-color: rgba( 0, 0 , 0, 0.6 ) !important;
	display: -webkit-flex !important;
	display: flex !important;
	height: 100vh !important;
	-webkit-justify-content: center !important;
	justify-content: center !important;
	min-height: 120px;
	min-width: 160px;
	overflow: hidden !important;
	position: fixed !important;
	width: 100vW !important;
	z-index: -1 !important;
}

body .alert,
body .modal {
	opacity: 0;
	position: fixed;
	-webkit-transform: translate( 0, -100vh );
	-moz-transform: translate( 0, -100vh );
	-ms-transform: translate( 0, -100vh );
	-o-transform: translate( 0, -100vh );
	transform: translate( 0, -100vh );
	-webkit-transition: opacity 0.1s ease-in-out 0.3s, transform 0.3s ease-in-out, z-index 0.01s linear 0.4s;
	-moz-transition: opacity 0.1s ease-in-out 0.3s, transform 0.3s ease-in-out, z-index 0.01s linear 0.4s;
	-ms-transition: opacity 0.1s ease-in-out 0.3s, transform 0.3s ease-in-out, z-index 0.01s linear 0.4s;
	-o-transition: opacity 0.1s ease-in-out 0.3s, transform 0.3s ease-in-out, z-index 0.01s linear 0.4s;
	transition: opacity 0.1s ease-in-out 0.3s, transform 0.3s ease-in-out, z-index 0.01s linear 0.4s;
	will-change: opacity, transform, z-index, transition;
	z-index: -1 !important;
}

body .alert.active,
body .modal.active {
	opacity: 1;
	-webkit-transform: translate( 0, 0 ) !important;
	-moz-transform: translate( 0, 0 ) !important;
	-ms-transform: translate( 0, 0 ) !important;
	-o-transform: translate( 0, 0 ) !important;
	transform: translate( 0, 0 ) !important;
	-webkit-transition: opacity 0.05s ease-in-out, transform 0.3s ease-in-out 0.01s, z-index 0.01s linear;
	-moz-transition: opacity 0.05s ease-in-out, transform 0.3s ease-in-out 0.01s, z-index 0.01s linear;
	-ms-transition: opacity 0.05s ease-in-out, transform 0.3s ease-in-out 0.01s, z-index 0.01s linear;
	-o-transition: opacity 0.05s ease-in-out, transform 0.3s ease-in-out 0.01s, z-index 0.01s linear;
	transition: opacity 0.05s ease-in-out, transform 0.3s ease-in-out 0.01s, z-index 0.01s linear;
	will-change: opacity, transform, z-index, transition;
	z-index: 1000000000 !important;
}

body .alert .close,
body .modal .close {
	cursor: pointer;
	float: right !important;
	right: 0 !important;
	margin-left: calc( 100% - 32px );
	top: 0;
	z-index: inherit;
}

body .alert > .close,
body .modal > * .close {
	position: absolute !important;
}

body .alert {
	background-color: rgba( 255, 0, 0, 0.9 );
	border: solid 1px #F00;
	color: #FFF;
	height: 40vh;
	min-height: 240px;
	min-width: 240px;
	width: 100vw;
}

body .alert.active {
	z-index: 100000 !important;
}

body .alert > .dialog {
	background-color: transparent;
}

body .modal > .close {
	position: fixed;
}

body .dialog {
	background: #F0F0F0;
	height: 50%;
	min-height: 240px;
	min-width: 160px;
	position: relative;
	width: 90%;
	z-index: 1;
}

/*col-sm devices*/
@media ( min-width: 576px ) {
	body .alert {
		height: 50vw;
		margin: 25vw 5vw;
		width: 90vw;
	}
}

/*col-md devices*/
@media ( min-width: 768px ) {
	body .alert {
		height: 40vw;
		margin: 15vw 20vw;
		width: 60vw;
	}

	body .modal > .dialog {
		width: 80%;
	}
}

/*col-lg devices*/
@media ( min-width: 992px ) {
	body .alert {
		height: 30vw;
		margin: 15vw 25vw;
		width: 50vw;
	}

	body .modal > .dialog {
		width: 70%;
	}
}

/*col-xl devices*/
@media ( min-width: 1200px ) {
	body .alert {
		height: 20vw;
		margin: 15vw 30vw;
		width: 40vw;
	}

	body .modal > .dialog {
		width: 50%;
		height: 30%;
	}
}

/* component-shape-reset.css */

body [data-shape] {
    bottom: 0;
    box-sizing: border-box;
    color: #212121;
    display: inline-block;
    font-size: 0;
    height: 16px;
    left: 0;
    margin: 0;
    margin-bottom: -3px;
    margin-left: 1px;
    margin-right: 6px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 16px; /* 16px x 16px */
}

/* component-shape-bar-code.css */

body [data-shape="bar-code"],
body [data-shape="bar-code"]::before,
body [data-shape="bar-code"]::after {
	border-bottom: transparent;
	border-left-style: solid;
	border-top: transparent;
	border-right-style: solid;
}

body [data-shape="bar-code"]::before,
body [data-shape="bar-code"]::after {
	border-left-color: inherit;
	border-right-color: inherit;
	content: "";
	display: inherit;
	height: inherit;
	position: absolute;
}

body [data-shape="bar-code"] {
	border-left-width: 3px;
	border-left-color:  currentColor;
	border-right-width: 2px;
	border-right-color: currentColor;
	width: 16px;
	position: relative;
}

body [data-shape="bar-code"]::before {
	border-left-width: 1px;
	border-right-width: 1px;
	left: 1px;
	width: 7px;
}

body [data-shape="bar-code"]::after {
	border-left-width: 3px;
	border-right-width: 1px;
	left: 3px;
	width: 1px; 
}

/* component-shape-lock.css */

body [data-shape="lock"]:before,
body [data-shape="lock"]:after {
	border-color: inherit;
	border-style: inherit;
	border-width: inherit;
	content: "";
	display: inherit;
	position: absolute;
}

body [data-shape="lock"] {
	border-color: currentColor;
	border-style: solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	height: 10.5px;
	margin-left: 2px;
	margin-top: 7px;
	width: 14px;
}

body [data-shape="lock"]::before {
	border-bottom: transparent;
	border-left: transparent;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	height: 9px;
	left: 1px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -7px;
	width: 9px;
}

body [data-shape="lock"]::after {
	width: 0;
	height: 3px;
	left: 5px;
	top: 2px;
}

/* component-shape-arrows.css */

body [data-shape="arrow-top"], 
body [data-shape="arrow-right"],
body [data-shape="arrow-bottom"], 
body [data-shape="arrow-left"] {
	position: relative;
	border-color: currentColor;
  font-size: 1em;
  width: auto;
  height: 16px;
  margin-bottom: 0;
}

body [data-shape="arrow-top"]::before, 
body [data-shape="arrow-right"]::before,
body [data-shape="arrow-bottom"]::before, 
body [data-shape="arrow-left"]::before {
  content: "";
  display: inherit;
  width: 0; 
  height: 0; 
  font-size: 0;
  line-height: 0;  
  padding: 0;
  position: relative;
  border-width: 8px;
  border-style: solid;
  border-color: inherit;
  margin-right: 4px;
}

body [data-shape="arrow-top"]::before {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -2px;
}

body [data-shape="arrow-right"]::before {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: 1px;
  left: 5px;
}

body [data-shape="arrow-bottom"]::before {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 7px;
}

body [data-shape="arrow-left"]::before {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 1px;
  left: -5px;
}

/* component-shape-credit-card.css */

body [data-shape="credit-card"] {
	border: solid 1px;
	border-color: currentColor;
	position: relative;
	height: 14px;
	margin-top: 2px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
	width: 18px;
	margin-right: 3px;
}

body [data-shape="credit-card"]::before {
	content: "";
	position: absolute;
	display: inherit;
	border-top: solid 3px;
	width: inherit;
	border-right: transparent;
	border-bottom: transparent;
	border-left: transparent;
	top: 3px;
	left: -1px;
}

/* component-shape-cash-out.css */

body [data-shape="cash-out"] {
	border-top: solid 2px;
	border-color: currentColor;
}

body [data-shape="cash-out"]::before,
body [data-shape="cash-out"]::after {
	content: "";
	display: inherit;
	position: absolute;
}

body [data-shape="cash-out"]::before {
	border-left: solid 2px;
	height: 8px;
	left: 7px;
	top: 1px;
}

body [data-shape="cash-out"]::after {
	width: 6px;
	height: 6px;
	left: 4px;
	top: 4px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

body [ data-shape="backspace" ], 
body [ data-shape="backspace" ]::before,
body [ data-shape="backspace" ]::after {
	display: block;
	left: 0;
	top: 0;
	border-color: currentColor;
	border-width: 2px;
	border-style: solid;
}

body [ data-shape="backspace" ]::before,
body [ data-shape="backspace" ]::after {
	position: absolute;
	color: currentColor;
	content: "";
	top: 0;
	left: 0;
}

body [ data-shape="backspace" ] {
	border-left: transparent;
	color: inherit;
	font-weight: 900;
	height: 14px;
	left: 14px;
	position: relative;
	text-align: center;
	width: 14px;
}

body [ data-shape="backspace" ]::before {
	border: none;
	content: "\d7";
	font-size: 12px;
	left: 0px;
	line-height: 12px;
	top: 0px;
	text-align: center;
}

body [ data-shape="backspace" ]::after {
	width: 8px;
	height: 8px;
	top: 0px;
	left: -5px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}

/* component-shape-calendar-flip.css */


body [data-shape="calendar-flip"] {
	border: solid 2px currentColor;
	border-top-width: 5px;
	color: #767676;
	display: inline-block;
	font-size: 12px;
	height: 24px;
	line-height: 12px;
	margin: 3px 7px 2px 7px;
	padding: 2px 2px;
	text-align: center;
	top: 0px;
	width: 24px;
}

body [data-shape="calendar-flip"]::before {
	border-left: solid 4px currentColor;
	border-right: solid 4px currentColor;
	content: "";
	display: block;
	height: 4px;
	left: 2px;
	position: absolute;
	top: -8px;
	width: 9px;
}

/*component-shape-sandwich*/

body [data-shape="sandwich"]::before, 
body [data-shape="sandwich"]::after,
body [data-shape="sandwich"] {
	background-color: currentColor;
	cursor: pointer;
	left: 0;
}


body [data-shape="sandwich"] {
	height: 4px;
	width: 24px;
	margin: 8px 2px;
}

body [data-shape="sandwich"]::before, 
body [data-shape="sandwich"]::after {
	content: "";
	display: block;
	height: inherit;
	position: relative;
	-webkit-transform: rotate( 0deg );
	-moz-transform: rotate( 0deg );
	-ms-transform: rotate( 0deg );
	-o-transform: rotate( 0deg );
	transform: rotate( 0deg );
	-webkit-transform-origin: 14% 50%;
	-moz-transform-origin: 14% 50%;
	-ms-transform-origin: 14% 50%;
	-o-transform-origin: 14% 50%;
	transform-origin: 14% 50%;
	-webkit-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	width: inherit;
	will-change: background-color, transform, transform-origin, trasition;
}

body [data-shape="sandwich"]::before { 
	top: -6px;
} 

body [data-shape="sandwich"]::after {
	top: 2px;
}

body [data-shape="sandwich"].active {
	background-color: transparent;
}

body [data-shape="sandwich"].active::before {
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
	left: 2px;
}

body [data-shape="sandwich"].active::after {
	-webkit-transform: rotate( -45deg );
	-moz-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
	-o-transform: rotate( -45deg );
	transform: rotate( -45deg );
	left: 2px;
}

/*component-shape-sandwich*/

body [data-shape="more"]::before, 
body [data-shape="more"]::after,
body [data-shape="more"] {
    background-color: currentColor;
    cursor: pointer;
    left: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}


body [data-shape="more"] {
    height: 7px;
    width: 7px;
    margin: 12px 10px;
}

body [data-shape="more"]::before, 
body [data-shape="more"]::after {
    content: "";
    display: block;
    height: inherit;
    position: relative;
    -webkit-transition: transform 0.2s ease-in-out, all 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out, all 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out, all 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, all 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, all 0.2s ease-in-out;
    width: inherit;
    will-change: background-color, transform, transform-origin, trasition;
}

body [data-shape="more"]::before { 
    top: -9px;
} 

body [data-shape="more"]::after {
    top: 2px;
}

body [data-shape="more"].active {
}

body [data-shape="more"].active::before {
    top: 0px;
    background-color: transparent;
}

body [data-shape="more"].active::after {
    top: -7px;
    background-color: transparent;
}

/*component-piccker.css*/

body [data-shape="picker"] {
	color: #000;
	display: block;
	font-size: 14px;
	border: solid 1px currentColor;
	width: calc( 100% - 2px );
	min-height: 300px;

}

/*
body [data-shape="picker"] [data-shape="picker-header"] {
	font-size: 14px;
	border-bottom: solid 1px #959595;
	background-color: #FFF;
	height: 48px;
	min-height: 48px;
	width: 100%;
	margin: 0;
}

body [data-shape="picker"] [data-shape="picker-header"] [data-shape="sandwich"] {
	margin-left: 7px; 
}

body [data-shape="picker"] [data-shape="picker-header"] [data-shape="mouth"] {
	font-size: 14px;
	width: 70%;
}

/* header menu*/

/* header menu day */

/*header menu month*/

/* header month */

/* header day */

/* Week collum D, S, T. Q, Q, S, S*/

/* fab button Add */

/* menu fab up */

/* munu fab down */

