/*COMPONENT SHAPE CASH-OUT*/

body [data-shape="cash-out"], 
body [data-shape="cash-out"]::before,
body [data-shape="cash-out"]::after {
	width: 14px;
	display: inline-block;
	position: relative;
	font-size: 0;
	padding: 0;
	border-width: 1px;
	border-color: inherit;
}

body [data-shape="cash-out"]::before,
body [data-shape="cash-out"]::after {
	content: "";
	position: absolute;
}

body [data-shape="cash-out"] {
	height: 14px;
	border-top: solid 1px;
	border-color: #F00;
}

body [data-shape="cash-out"]::before {
	border-left: solid 1px;
	height: 11px;
	left: 6px;
	top: 1px;
}

body [data-shape="cash-out"]::after {
	width: 6px;
	height: 6px;
	left: 3px;
	top: 6px;
	border-right: solid 1px;
	border-bottom: solid 1px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}