/*COMPONENT CREDIT-CARD */

body [data-shape="credit-card"],
body [data-shape="credit-card"]::before {
	border: solid 1px;
	border-color: inherit;
	bottom: 0;
	content: "";
	display: inline-block;
	font-size: 0;
	left: 0;
	right: 0;
	top: 0;
}

body [data-shape="credit-card"] {
	border-color: #F00;
	position: relative;
	height: 10px;
	width: 14px;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	-o-border-radius: 3px; 
	-ms-border-radius: 3px; 
	border-radius: 3px;
}

body [data-shape="credit-card"]::before {
	position: absolute;
	border-top-width: 3px;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 0;
	width: inherit;
	height: 0;
	top: 2px;
}