/*COMPONENT SHPAE - TCKET */
/*icon boleto*/

body [data-shape="ticket"], 
body [data-shape="ticket"]::before,
body [data-shape="ticket"]::after {
	border-bottom-width: 0px;
	border-left-width: 2px;
	border-right-width: 0px;
	border-style: solid;
	border-top-width: 0px;
	bottom: 0;
	content: "";
	display: inline-block;
	font-size: 0;
	height: inherit;
	left: 0;
	position: relative;
	right: 0
	top: 0px;
}

body [data-shape="ticket"] {
	border-left-width: 1px;
	height: 12px;
    width: 9px;
	top: 1px;
    margin-left: 5px
}

body [data-shape="ticket"]::before {
	left: -5px;
}

body [data-shape="ticket"]::after {
	left: -1px;
}