/* GLobal Reset */

html {
    font-family: Verdana, Arial, Sans-serif !important;
    font-size: 62.5% !important;
    font-weight: normal !important;
    line-height: 140% !important;
    min-height: 100vh !important;
    min-width: 100% !important;
    text-align: left !important;
    vertical-align: baseline !important;
}

body {
    font-family: inherit !important;
    font-size: 1.4em !important;
    font-weight: inherit !important;
    line-height: inherit !important;
    min-height: calc( 100vh - 0.5px ) !important;
    min-width: calc( 100% - 0.5px ) !important;
    text-align: inherit !important;
    vertical-align: inherit !important;
    word-break: break-all !important;
    word-wrap: break-word !important;
    background-color: #F5F5F5;
    color: #424242;
}

html, html body, body header, body main, body footer { 
    border: none;
    bottom: 0 !important;
    box-sizing: border-box !important;
    display: block !important;
    left: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    right: 0 !important;
    top: 0 !important;
    word-break: inherit !important;
    word-wrap:  inherit !important;
    clear: both;
}

body header, body main, body footer {
    color: inherit;
    font-size: inherit !important;
    line-height: inherit !important;
    text-align: inherit !important;
    vertical-align: inherit;
    max-width: inherit !important;
    min-height: 20px; /*calc( 480px / 24 )*/
    min-width: 26.6666px; /*calc( 320px / 12 );*/
}

body div, body section, body ul, body ol, body nav, body menu, body li, body table, body tbody, body tr, 
body pre, body p, body address, body article, body aside {
    box-sizing: border-box !important;
    bottom: 0;
    border: none;
    color: inherit;
    clear: both;
    float: none;
    font-size: inherit;
    left: 0;
    margin: 0;
    min-width: 26.6666px; /*calc( 320px / 12 );*/
    max-width: inherit;
    min-height: 20px; /*calc( 480px / 24 )*/
    max-height: inherit;
    padding: 0;
    position: relative;
    text-align: inherit;
    top: 0;
    vertical-align: inherit;
}

/* RESET LISTS */
body ol, body ul {
    display: block;
    list-style: none;
}

body ol li, body ul li {
    display: inline-block;
    width: 100%;
}

body nav > ul {
    width: 100%;
}

body li > *, body table td, body table th {
    display: inline-block;
    margin: 0;
    padding: 0.5em;
    width: calc( 100% - 1em ) ;
    vertical-align: top;
}


/* RESET TABLES*/
body table {
    border: solid 0.5px #B2B2B2;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    background-color: #FDFDFD;
}

body table tbody {
    display: table;
}

body table tr:not(:last-child) {
    border-bottom: solid 0.5px #DDD !important;
    display: table-row;
    vertical-align: middle;
}

body table td:not(:last-child), body table th:not(:last-child) {
    border-right: solid 0.5px #DDD;
    display: table-cell;
    vertical-align: middle;
}

tr:nth-child(2n) {
    background-color: #EFEFEF;
}

/* TEXTOS */

body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0 !important;
    line-height: 1em;
    font-weight: normal;
    padding: 0.5em;
}

body h1, body h2, body h3 {
    padding: 0.25em;
}

body h1 {
    font-size: 2.8em;
}

body h2 {
    font-size: 2.4em;
}

body h3 {
    font-size: 2em;
}

body h4 {
    font-size: 1.6em;
}

body h5 {
    font-size: 1.4em;
}

body h6 {
    font-size: 1.2em;
}

body a {
 text-decoration: none;
 color: inherit;
}

body pre, body p {
    background-color: #FDFDFD;
    color: #565656;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1em;
    padding: 1em;
    text-align: left;
}

body .text-left {
    text-align: left;
}

body .text-center {
    text-align: center;
}

body .text-right {
    text-align: right;
}

body .small-caps {
    font-variant: small-caps;
}

/* ESTADOS de Botoes*/
:focus {
    outline: 0;
}

:hover {
    outline: 0;
}

body div::after, body section::after, body ul::after, body ol::after, body nav::after, body menu::after, 
body li::after, body table::after, body tbody::after, body tr::after, body pre::after, body p::after, 
body address::after, body article::after, body aside::after, body .clear {
    content:"";
    clear:both;
    display:block;
}


body .clear {
    clear: both !important;
}

body * [ class*="col-" ], body * [ class*="row-" ]  {
    display: inline-block;
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    clear: none;
    float: left;
    left: 0;
    margin: 0;
    right: 0;
    padding: 0;
    top: 0;
    vertical-align: top !important;
}

body * [ class*="row-" ] {
    overflow: auto;
}