body header {
	background-color: #212121;
	color: #FFF;
}

body header > nav > ul {
	padding: 7px 3.5px;
}

body header > nav > ul > li {
	width: calc( ( 100% / 4 ) - 6px );
	display: inline-block;
	margin: 5px 0;
}

body header > nav > ul > li > a {
	border: solid 1px #DDD;
	background-color: #009688;
	color: #FFF !important;
	text-align: center;
}

body main {
	background-color: #F6F6F6;
}

body .demonstration {
	background-color: #FFF;
	border-top: solid 0.1px #CCC;
	border-left: solid 1px #009688;
	left: 0;
	margin: 5px 0 1px 0;
	vertical-align: top;
}

body .demonstration em {
	color: #F00;
}

body .demonstration xmp {
}

body .enviroment {
	border: dotted 2px rgba( 255, 0, 0, 1);
	display: block;
	margin-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

body .wrap {
	border: solid 0.5px rgba( 0, 0, 255, 0.5);
}

body .grid-test {
	background-color: #FDFDFD;
	margin-top: 5px;
	padding: 14px 0;
}

body .screen-grid-row {
	max-height: 50vh;
	overflow: auto;
}

body .btn-padding {
	padding: 7px;
}


