/*component-reset.css*/

html {
    background-color: #F5F5F5;
    color: #424242;
    font-family: Verdana, Arial, Sans-serif !important;
    font-size: 12pt;
    font-weight: normal !important;
    line-height: 140% !important;
    min-height: 100vh !important;
    min-width: 100% !important;
    text-align: left !important;
    vertical-align: baseline !important;
    word-break: keep-all !important;
    word-wrap: break-word !important;
}

html > body {
    font-family: inherit !important;
    font-size: 1em !important;
    font-weight: inherit !important;
    min-height: calc( 100vh - 0.5px ) !important;
    min-width: calc( 100% - 0.5px ) !important;
    text-align: inherit !important;
    vertical-align: inherit !important;
}

html > body,
html > body > header, 
html > body > main, 
html > body > footer { 
    bottom: 0;
    box-sizing: border-box;
    clear: both;
    display: block;
    float: left;
    left: 0;
    margin: 0;
    right: 0;
    top: 0;
    width: 100%;
    word-break: inherit;
    word-wrap:  inherit;
}

html > body > header, 
html > body > main, 
html > body > footer {
    font-size: inherit !important;
    line-height: inherit !important;
    text-align: inherit !important;
    max-width: inherit !important;
    min-height: 2px !important;
    min-width: 2px !important;
    vertical-align: inherit;
}

body > header, 
body > main,
body > footer {
    color: inherit;
    border: none;
    background-color: inherit;
    padding: 0;
}

body div, 
body nav, 
body menu, 
body ul, 
body ol, 
body li,
body table,
body pre, 
body p,
body a,
body address, 
body section, 
body article, 
body aside {
    border-color: inherit;
    box-sizing: border-box !important;
    bottom: 0;
    color: inherit;
    clear: both;
    display: inline-block;
    float: none;
    font-size: inherit;
    left: 0;
    line-height: inherit;
    margin: 0;
    max-height: inherit;
    max-width: inherit;
    min-height: inherit;
    min-width: inherit;
    padding: 0;
    position: relative;
    text-align: inherit;
    top: 0;
    vertical-align: inherit;
}

body a, 
body a:link, 
body a:visited, 
body a:hover,
body a:focus, 
body a:active {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    width:auto;
}

body div,
body section {
    width: 100%;
}

/* RESET LISTS */
body nav,
body menu,
body ol, 
body ul {
    display: block;
    list-style: none;
    min-height: initial;
}

body ol li,
body ul li {
    display: inline-block;
    font-size: 1em;
    min-height: initial;
    width: 100%;
    white-space: normal;
}

body ol li > a,
body ol li > a:link,
body ol li > a:visited,
body ol li > a:hover,
body ol li > a:focus,
body ol li > a:active,
body ul li > a,
body ul li > a:link,
body ul li > a:visited,
body ul li > a:hover,
body ul li > a:focus,
body ul li > a:active {
    width: 100%;
    padding: 0.3em;
    white-space: normal;
}

/*RESET TABLES*/
body table,
body table thead,
body table tbody,
body table tfoot,
body table tr th,
body table tr td,
body form,
body legend,
body fieldset,
body input,
body select,
body textarea {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body table {
    background-color: #FEFEFE;
    border-collapse: collapse;
    border-color: currentColor;
    border-spacing: 0;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    color: #212121;    
    display: table;
    margin: 2px;
    min-height: 10px;
    min-width: 20px;
}

body table thead,
body table tbody,
body table tfoot {
    border-color: inherit;
    border-width: inherit;
    border-style: inherit;
    border-spacing: inherit;
    border-width: 1px;
}

body table tr {
    display: table-row;
    width: auto;
    height: auto;
    border-bottom-style: solid;
    border-bottom-color: inherit;
    border-bottom-width: 1px;
}

body table tr:nth-child( 2n ) {
    background-color: #DFDFDF;
}

body table tr:hover {
    -webkit-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -moz-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -o-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    -ms-box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
    box-shadow: 0 0 3px 0.5px currentColor inset, 0 0 3px 4px #FFF inset;
}

body table tr th,
body table tr td {
    display: table-cell;
    vertical-align: middle;
    font-size: 1em;
    padding: 0.4em;
    white-space: normal;
}

body table tr th:not( :last-child ),
body table tr td:not( :last-child ) {
    border-right-style: solid;
    border-width: 1px;
    border-color: inherit; 
}

/*RESET TEXTOS*/
body h1, 
body h2, 
body h3, 
body h4, 
body h5, 
body h6,
body h7,
body h8,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body .h7,
body .h8 {
    margin: 0 !important;
    line-height: 1.4em;
    font-weight: normal;
    padding: 0.3em;
    padding-left: 7px;
    display: block;
    color: inherit;
    white-space: normal;
}

body h1,
body .h1 {
    font-size: 2.6em;
}

body h2,
body .h2 {
    font-size: 2.2em;
}

body h3,
body .h3 {
    font-size: 1.8em;
}

body h4,
body .h4 {
    font-size: 1.5em;
}

body h5,
body .h5 {
    font-size: 1.2em;
}

body h6,
body .h6 {
    font-size: 1.1em;
}

body h7,
body .h7 {
    font-size: 0.9em;
}

body h8,
body .h8 {
    font-size: 0.8em;
}

body pre, 
body p {
    background-color: #FDFDFD;
    color: #424242; /* #616161 */
    font-family: inherit;
    font-size: 1em;
    word-break: keep-all;
    word-wrap: break-word;
    font-weight: inherit;
    line-height: 140%;
    padding: 0.6em;
    text-align: left;
    white-space: normal;
}

body xmp {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    white-space: normal;
}

body button {
    cursor: pointer;
}

body div::after, 
body nav::after,
body menu::after, 
body ul::after, 
body ol::after,  
body li::after, 
body table::after,
body thead::after,
body tbody::after,
body tfoot::after, 
body tr::after, 
body pre::after, 
body p::after,
body a::after,
body address::after, 
body section::after, 
body article::after, 
body aside::after,
body xmp::after,
body hr::after {
    content:"";
    clear:both;
    display:block;
}

:hove,
:focus {
    outline: 0;
}

body .clear {
    clear: both !important;
    content: "";
}

body .text {
    color: #424242;
}

body .text-black {
    color: #212121;
}

body .text-white {
    color: #FAFAFA;
}

body .background-white {
    background-color: #F5F5F5;
    color: #424242;
}

body .background-black {
    background-color: #757575;
    color: #FAFAFA;
}

body .text-left {
    text-align: left;
}

body .text-center {
    text-align: center;
}

body .text-right {
    text-align: right;
}

body .small-caps {
    font-variant: small-caps;
}

body hr, body .hr {
    display: block;
    background-color: #FFF;
    padding: 0;
    font-size: 0;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 7.5px;
}

body .radius,
body .circle {
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

body .radius-2 {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

body .radius-4,
body form,
body legend,
body fieldset, 
body input,
body select,
body textarea
body form button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

body .radius-8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}

body form {
    color: #424242;
    border: solid 1px #AAA;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    width: calc( 100% - 28px );
}

body form,
body legend,
body fieldset {
    background-color: #F2F2F2;
    font-weight: 500;
    margin: 7px 14px;
    min-width: 292px;
    padding: 14px;
    text-align: center;
    white-space: normal;
}

body label,
body input,
body select,
body textarea,
body form button {
    color: #424242;
    border: solid 1px #CCC;
    font-size: 1em;
    margin: 3px 7px;
    min-width: 240px;
    outline-color: #1E88E5;
    padding: 7px 14px;
    position: relative;
    width: auto;
    background-color: #FFFFFF;
    white-space: normal;
    line-height: 1.4em;
}

body label {
    display: inline-block;
    min-width: 220px;
    width: calc( 100% - 44px );
    text-align: left;
}

body form fieldset,
body form legend {
    background: transparent;
    color: #767676;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    min-width: auto;
    padding: 0;
    text-align: left;  
}

body form legend {
    font-size: 1.2em;
}

body form label,
body form input,
body form select,
body form textarea,
body form button {
    color: inherit;
    font-size: 1.2em;
    margin-top: 7px;
    padding: 7px 14px;
    position: relative;
    width: calc( 100% - 14px );
}

body button:disabled {
    color: #A0A0A0;
}

body form label {
    width: calc( 100% - 44px );
}

body form [data-type="checkbox"],
body form [data-type="radio"] {
    background-color: transparent;
    border: none;
}

body form [type="checkbox"],
body form [type="radio"] {
    float: left;
    display: inline-block;
    left: 0;
    margin: 7px 7px 0px -3px;
    min-width: 21px;
    padding: 0;
    text-align: left;
    width: 21px;
}
body button:disabled {
    color: #A0A0A0;
}
