/*
component-grid-col-md.css
These grids are built in the mobile first.
Here contains 12 wide columns.
Minimum screen = 768px x 600px for screen ( SVGA - 800px x 600px )
*/

/* Tablets - Medium Devices (tablets, 768px > 991px) */
@media ( min-width: 768px ) {
    body .col-md-1 {
        width: calc( ( 100% / 12 ) * 1 ); 
    }

    body .col-md-2 {
        width: calc( ( 100% / 12 ) * 2 );
    }

    body .col-md-3 {
        width: calc( ( 100% / 12 ) * 3 );
    }

    body .col-md-4 {
        width: calc( ( 100% / 12 ) * 4 );
    }

    body .col-md-5 {
        width: calc( ( 100% / 12 ) * 5 );
    }

    body .col-md-6 {
        width: calc( ( 100% / 12 ) * 6 );
    }

    body .col-md-7 {
        width: calc( ( 100% / 12 ) * 7 );
    }

    body .col-md-8 {
        width: calc( ( 100% / 12 ) * 8 );
    }

    body .col-md-9 {
        width: calc( ( 100% / 12 ) * 9 );
    }

    body .col-md-10 {
        width: calc( ( 100% / 12 ) * 10 );
    }

    body .col-md-11 {
        width: calc( ( 100% / 12 ) * 11 );
    }

    body .col-md-12 {
        width: 100%;
    }

    body .col-md-offset-1 {
    	margin-left: calc( ( 100% / 12 ) * 1);
    }

    body .col-md-offset-2 {
        margin-left: calc( ( 100% / 12 ) * 2 );
    }

    body .col-md-offset-3 {
        margin-left: calc( ( 100% / 12 ) * 3 );
    }

    body .col-md-offset-4 {
        margin-left: calc( ( 100% / 12 ) * 4 );
    }

    body .col-md-offset-5 {
        margin-left: calc( ( 100% / 12 ) * 5 );
    }

    body .col-md-offset-6 {
        margin-left: calc( ( 100% / 12 ) * 6 );
    }

    body .col-md-offset-7 {
        margin-left: calc( ( 100% / 12 ) * 7 );
    }

    body .col-md-offset-8 {
        margin-left: calc( ( 100% / 12 ) * 8 );
    }

    body .col-md-offset-9 {
        margin-left: calc( ( 100% / 12 ) * 9 );
    }

    body .col-md-offset-10 {
        margin-left: calc( ( 100% / 12 ) * 10 );
    }

    body .col-md-offset-11 {
        margin-left: calc( ( 100% / 12 ) * 11 );
    }

    body .col-md-offset-12 {
        margin-left: 100%;
    }

    body .col-md-pull-1 {
        margin-right: calc( ( 100% / 12 ) * 1);
    }

    body .col-md-pull-2 {
        margin-right: calc( ( 100% / 12 ) * 2 );
    }

    body .col-md-pull-3 {
        margin-right: calc( ( 100% / 12 ) * 3 );
    }

    body .col-md-pull-4 {
        margin-right: calc( ( 100% / 12 ) * 4 );
    }

    body .col-md-pull-5 {
        margin-right: calc( ( 100% / 12 ) * 5 );
    }

    body .col-md-pull-6 {
        margin-right: calc( ( 100% / 12 ) * 6 );
    }

    body .col-md-pull-7 {
        margin-right: calc( ( 100% / 12 ) * 7 );
    }

    body .col-md-pull-8 {
        margin-right: calc( ( 100% / 12 ) * 8 );
    }

    body .col-md-pull-9 {
        margin-right: calc( ( 100% / 12 ) * 9 );
    }

    body .col-md-pull-10 {
        margin-right: calc( ( 100% / 12 ) * 10 );
    }

    body .col-md-pull-11 {
        margin-right: calc( ( 100% / 12 ) * 11 );
    }

    body .col-md-pull-12 {
        margin-right: 100%;
    }

    body .col-md-hidden {
        display: none;
    }

    body .col-md-visible {
        display: inline-block;
    }
}