/* GRID COL-LG
These grids are built in the mobile first.
Here contains 12 wide columns.
Minimum screen = 992px x 720px for screen ( SVGA - 800px x 600px )
*/

body * [ class*="col-lg-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
}

/* Desktop - Large Devices (desktops, 992px > 1199px) */
@media ( min-width: 992px ) {
    body .col-lg-1 {
        width: calc( ( 100% / 12 ) * 1 ); 
    }

    body .col-lg-2 {
        width: calc( ( 100% / 12 ) * 2 );
    }

    body .col-lg-3 {
        width: calc( ( 100% / 12 ) * 3 );
    }

    body .col-lg-4 {
        width: calc( ( 100% / 12 ) * 4 );
    }

    body .col-lg-5 {
        width: calc( ( 100% / 12 ) * 5 );
    }

    body .col-lg-6 {
        width: calc( ( 100% / 12 ) * 6 );
    }

    body .col-lg-7 {
        width: calc( ( 100% / 12 ) * 7 );
    }

    body .col-lg-8 {
        width: calc( ( 100% / 12 ) * 8 );
    }

    body .col-lg-9 {
        width: calc( ( 100% / 12 ) * 9 );
    }

    body .col-lg-10 {
        width: calc( ( 100% / 12 ) * 10 );
    }

    body .col-lg-11 {
        width: calc( ( 100% / 12 ) * 11 );
    }

    body .col-lg-12 {
        width: 100%;
    }

    body .col-lg-offset-1 {
        margin-left: calc( ( 100% / 12 ) * 1);
    }

    body .col-lg-offset-2 {
        margin-left: calc( ( 100% / 12 ) * 2 );
    }

    body .col-lg-offset-3 {
        margin-left: calc( ( 100% / 12 ) * 3 );
    }

    body .col-lg-offset-4 {
        margin-left: calc( ( 100% / 12 ) * 4 );
    }

    body .col-lg-offset-5 {
        margin-left: calc( ( 100% / 12 ) * 5 );
    }

    body .col-lg-offset-6 {
        margin-left: calc( ( 100% / 12 ) * 6 );
    }

    body .col-lg-offset-7 {
        margin-left: calc( ( 100% / 12 ) * 7 );
    }

    body .col-lg-offset-8 {
        margin-left: calc( ( 100% / 12 ) * 8 );
    }

    body .col-lg-offset-9 {
        margin-left: calc( ( 100% / 12 ) * 9 );
    }

    body .col-lg-offset-10 {
        margin-left: calc( ( 100% / 12 ) * 10 );
    }

    body .col-lg-offset-11 {
        margin-right: calc( ( 100% / 12 ) * 11 );
    }

    body .col-lg-offset-12 {
        margin-right: 100%;
    }

     body .col-lg-pull-1 {
        margin-right: calc( ( 100% / 12 ) * 1);
    }

    body .col-lg-pull-2 {
        margin-right: calc( ( 100% / 12 ) * 2 );
    }

    body .col-lg-pull-3 {
        margin-right: calc( ( 100% / 12 ) * 3 );
    }

    body .col-lg-pull-4 {
        margin-right: calc( ( 100% / 12 ) * 4 );
    }

    body .col-lg-pull-5 {
        margin-right: calc( ( 100% / 12 ) * 5 );
    }

    body .col-lg-pull-6 {
        margin-right: calc( ( 100% / 12 ) * 6 );
    }

    body .col-lg-pull-7 {
        margin-right: calc( ( 100% / 12 ) * 7 );
    }

    body .col-lg-pull-8 {
        margin-right: calc( ( 100% / 12 ) * 8 );
    }

    body .col-lg-pull-9 {
        margin-right: calc( ( 100% / 12 ) * 9 );
    }

    body .col-lg-pull-10 {
        margin-right: calc( ( 100% / 12 ) * 10 );
    }

    body .col-lg-pull-11 {
        margin-right: calc( ( 100% / 12 ) * 11 );
    }

    body .col-lg-pull-12 {
        margin-right: 100%;
    }
}