/*
component-btn.css
	btn sm 47px
	btn md 57px
	btn lg 72px

TYPES BTNs
	** primary
	** secondary
	** progress
	** cta (call to action )
	** ghost ( Button - transparent )
	** fab (floating Action Button)
	** swith ( Button - on/off mobile)

STATES 
	** normal
	** foco ( :focus )
	** hover ( :hover )
	** pressionado ( :active )
	** inativo ( :disabled )
*/

body [data-btn] {
	background-color: #EEEEEE;
	border: solid 0.5px #BDBDBD;
	bottom: 0;
	color: #212121;
	font-size: 1.4em;
	cursor: pointer;
	display: inline-block;
	left: 0;
	margin: 2px 0;
	/*max-width: 57px; /* 57px or 72px */
	min-height: 30px;
	min-width: 30px;
	padding: 1em;
	position: relative;
	right: 0;
	top: 0;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}

body [data-btn]:not( :disabled ):hover,
body [data-btn]:not( :disabled ):focus, 
body [data-btn="fab"]:not( :disabled ):hover::before,
body [data-btn="fab"]:not( :disabled ):focus::before {
	-webkit-box-shadow: 0 0 2px 0.5px #616161; /* #616161 or #212121*/
	-moz-box-shadow: 0 0 2px 0.5px #616161;
	-o-box-shadow: 0 0 2px 0.5px #616161;
	-ms-box-shadow: 0 0 2px 0.5px #616161;
	box-shadow: 0 0 2px 0.5px #616161;
	outline: 0;
}

body [data-btn]:not( :disabled ):active,
body [data-btn="fab"]:not( :disabled ):active::before {
	-webkit-box-shadow: 0 0 2px 2px #616161, 0 0 4px 2px #FFFFFF inset; /* #616161 or #212121*/
	-moz-box-shadow: 0 0 2px 2px #616161, 0 0 4px 2px #FFFFFF inset;
	-o-box-shadow: 0 0 2px 2px #616161, 0 0 4px 2px #FFFFFF inset;
	-ms-box-shadow: 0 0 2px 2px #616161, 0 0 4px 2px #FFFFFF inset;
	box-shadow: 0 0 2px 2px #616161, 0 0 4px 2px #FFFFFF inset;
	outline: 0;
}

body [data-btn]:disabled,
body [data-btn="fab"]:disabled::after {
	color: #A0A0A0;
}

body [data-btn="progress"]::after,
body [data-btn="fab"]::before,
body [type="checkbox"][data-btn="switch"]::after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

body [data-btn="primary"],
body [data-btn="secondary"],
body [data-btn="progress"],
body [data-btn="ghost"] {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

body [data-btn="fab"],
body [type="checkbox"][data-btn="switch"]::after {
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	-ms-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	will-change: transform;
}

body [data-btn="fab"]:hover,
body [data-btn="fab"]:focus,
body [data-btn="fab"]:active,
body [data-btn="switch"]:active,
body [type="checkbox"][data-btn="switch"]:hover,
body [type="checkbox"][data-btn="switch"]:focus,
body [type="checkbox"][data-btn="switch"]:active {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}

body [data-btn="primary"] {
	padding: 1em 2em; 
}

body [data-btn="secondary"] {
	padding: 0.5em 1em; 
}

body [data-btn="progress"]::after {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: btn-progresser;
	animation-timing-function: linear;
	border: solid 2px #0D47A1;
	border-top-color: transparent;
	content: "";
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	margin-right: 2px;
	padding: 0px;
	position: relative;
	width: 10px;
	will-change: transform;
	top: 2px;
}

@keyframes btn-progresser {
	0% { 
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg); 
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg); 
	}
}

body [data-btn="cta"] {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	-ms-border-radius: 1px;
    border-radius: 1px;
    padding: 1em 5em;
}

body [data-btn="ghost"] {
	background-color: transparent;
}

body [data-btn="fab"] {
	background-color: transparent;
	border: none;
	color: #FFF;
	font-size: 0;
	height: 45px;
	position: relative;
	width: 45px;
}

body [data-btn="fab"]:not( :disabled ):hover,
body [data-btn="fab"]:not( :disabled ):focus  {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	transform: rotate(225deg);
}

body [data-btn="fab"]::before,
body [data-btn="fab"]::after {
	content: "";
	height: inherit;
	width: inherit;
	display: inline-block;
	position: absolute;
	height: 45px;
	width: 45px;
}

body [data-btn="fab"]::before {
	top: 0px;
	left: 0px;
	background-color: #E0E0E0;
}

body [data-btn="fab"]::after {
	content: "+";
	top: 0px;
	left: 0px;
	font-size: 42px;
}

body [data-btn="fab"]:not( :disabled ):hover::after,
body [data-btn="fab"]:not( :disabled ):focus::after {
	color: #F44336;
}

body [type="checkbox"][data-btn="switch"] {
	width: 60px;
	background-color: #EEEEEE;
}

body [type="checkbox"][data-btn="switch"]::before,
body [type="checkbox"][data-btn="switch"]::after {
	content: "";
	display: inline-block;
	position: absolute;

}

body [type="checkbox"][data-btn="switch"]::before {
	border: solid 1px #AAA;
	width: inherit;
	height: 30px;
	background-color: inherit;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out; 
}

body [type="checkbox"][data-btn="switch"]:checked::before {
	background-color: #81C784;
}

body [type="checkbox"][data-btn="switch"]::after {
	border: solid 1px #BBB;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #FFF;
	left: 1px;
	will-change: transform;
}

body [type="checkbox"][data-btn="switch"]:not( :disabled ):checked::after {
	-webkit-transform: translateX(28px);
	-moz-transform: translateX(28px);
	-o-transform: translateX(28px);
	-ms-transform: translateX(28px);
	transform: translateX(28px);
}

body [type="checkbox"][data-btn="switch"]:disabled::after {
	background-color: #F6F6F6;
}