/* component-shape-reset.css */

body [data-shape] {
    bottom: 0;
    box-sizing: border-box;
    color: #212121;
    display: inline-block;
    font-size: 0;
    height: 16px;
    left: 0;
    margin: 0;
    margin-bottom: -3px;
    margin-left: 1px;
    margin-right: 6px;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 16px; /* 16px x 16px */
}