/*
component-grid-row-xl.css
These grids are built in the mobile first.
Here contains 24 wide rows.
Minimum screen = 1200px X 1050px for screen ( Full HD - 1920px - 1080px )
*/

body * [ class*="row-xl-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
    overflow: auto;
}

/* TVs, Screen UHD and Screen Multimedia - Extra Large Devices (large desktops, 1050px and up) */
@media ( min-height: 1050px ) {
    body .row-xl-fluid {
        height: auto !important;
    }

    body .row-xl-1 {
        height: calc( 100vh / 24 );
        min-height: calc( 100vh / 24 );
    }

    body .row-xl-2 {
        height: calc( ( 100vh / 24 ) * 2 );
        min-height: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-xl-3 {
        height: calc( ( 100vh / 24 ) * 3 );
        min-height: calc( (100vh / 24 ) * 3 );
    }

    body .row-xl-4 {
        height: calc( ( 100vh / 24 ) * 4 );
        min-height: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-xl-5 {
        height: calc( ( 100vh / 24 ) * 5 );
        min-height: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-xl-6 {
        height: calc( ( 100vh / 24 ) * 6 );
        min-height: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-xl-7 {
        height: calc( ( 100vh / 24 ) * 7 );
        min-height: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-xl-8 {
        height: calc( ( 100vh / 24 ) * 8 );
        min-height: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-xl-9 {
        height: calc( ( 100vh / 24 ) * 9 );    
        min-height: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-xl-10 {
        height: calc( ( 100vh / 24 ) * 10 );
        min-height: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-xl-11 {
        height: calc( ( 100vh / 24 ) * 11 );
        min-height: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-xl-12 {
        height: calc( ( 100vh / 24 ) * 12 );
        min-height: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-xl-13 {
        height: calc( ( 100vh / 24 ) * 13 );
        min-height: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-xl-14 {
        height: calc( ( 100vh / 24 ) * 14 );
        min-height: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-xl-15 {
        height: calc( ( 100vh / 24 ) * 15 );
        min-height: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-xl-16 {
        height: calc( ( 100vh / 24 ) * 16 );
        min-height: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-xl-17 {
        height: calc( ( 100vh / 24 ) * 17 );
        min-height: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-xl-18 {
        height: calc( ( 100vh / 24 ) * 18 );
        min-height: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-xl-19 {
        height: calc( ( 100vh / 24 ) * 19 );
        min-height: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-xl-20 {
        height: calc( ( 100vh / 24 ) * 20 );
        min-height: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-xl-21 {
        height: calc( ( 100vh / 24 ) * 21 );
        min-height: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-xl-22 {
        height: calc( ( 100vh / 24 ) * 22 );
        min-height: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-xl-23 {
        height: calc( ( 100vh / 24 ) * 23 );
        min-height: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-xl-24 {
        height: calc( 100vh - 0.2px );
        min-height: calc( 480px - 0.2px );
    }

    body .row-xl-offset-1 {
        margin-top: calc( 100vh / 24 );
    }

    body .row-xl-offset-2 {
        margin-top: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-xl-offset-3 {
        margin-top: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-xl-offset-4 {
        margin-top: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-xl-offset-5 {
        margin-top: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-xl-offset-6 {
        margin-top: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-xl-offset-7 {
        margin-top: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-xl-offset-8 {
        margin-top: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-xl-offset-9 {
        margin-top: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-xl-offset-10 {
        margin-top: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-xl-offset-11 {
        margin-top: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-xl-offset-12 {
        margin-top: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-xl-offset-13 {
        margin-top: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-xl-offset-14 {
        margin-top: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-xl-offset-15 {
        margin-top: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-xl-offset-16 {
        margin-top: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-xl-offset-17 {
        margin-top: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-xl-offset-18 {
        margin-top: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-xl-offset-19 {
        margin-top: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-xl-offset-20 {
        margin-top: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-xl-offset-21 {
        margin-top: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-xl-offset-22 {
        margin-top: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-xl-offset-23 {
        margin-top: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-xl-offset-24 {
        margin-top: calc( 100vh - 0.2px );
    }

     body .row-xl-pull-1 {
        margin-bottom: calc( 100vh / 24 );
    }

    body .row-xl-pull-2 {
        margin-bottom: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-xl-pull-3 {
        margin-bottom: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-xl-pull-4 {
        margin-bottom: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-xl-pull-5 {
        margin-bottom: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-xl-pull-6 {
        margin-bottom: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-xl-pull-7 {
        margin-bottom: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-xl-pull-8 {
        margin-bottom: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-xl-pull-9 {
        margin-bottom: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-xl-pull-10 {
        margin-bottom: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-xl-pull-11 {
        margin-bottom: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-xl-pull-12 {
        margin-bottom: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-xl-pull-13 {
        margin-bottom: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-xl-pull-14 {
        margin-bottom: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-xl-pull-15 {
        margin-bottom: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-xl-pull-16 {
        margin-bottom: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-xl-pull-17 {
        margin-bottom: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-xl-pull-18 {
        margin-bottom: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-xl-pull-19 {
        margin-bottom: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-xl-pull-20 {
        margin-bottom: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-xl-pull-21 {
        margin-bottom: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-xl-pull-22 {
        margin-bottom: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-xl-pull-23 {
        margin-bottom: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-xl-pull-24 {
        margin-bottom: calc( 100vh - 0.2px );
    }
}