/*
component-btn.css
	btn sm 47px
	btn md 57px
	btn lg 72px
	padding, margin = 3.5px || 7px || 14px || 21px || 28px;

TYPES BTNs
	** primary
	** secondary
	** progress
	** cta (call to action )
	** ghost ( Button - transparent )
	** fab (floating Action Button)
	** swith ( Button - on/off mobile)

STATES 
	** normal
	** foco ( :focus )
	** hover ( :hover )
	** pressionado ( :active )
	** inativo ( :disabled )
*/

body [data-btn] {
	background-color: #EEEEEE;
	border: solid 1px currentColor;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	bottom: 0;
	color: #424242;
	font-size: 14px; /*standart 14px*/
	cursor: pointer;
	display: inline-block;
	left: 0;
	line-height: 1em;
	margin: 2px 0;
	/*max-width: 57px; /* 57px or 72px */
	min-height: 30px;
	min-width: 30px;
	padding: 7px 14px;
	position: relative;
	right: 0;
	top: 0;
	text-align: center;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-o-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
	vertical-align: top;
}

body [data-btn]:not( :disabled ):hover,
body [data-btn]:not( :disabled ):focus, 
body [data-btn="fab"]:not( :disabled ):hover::before,
body [data-btn="fab"]:not( :disabled ):focus::before {
	-webkit-box-shadow: 0 0 2px 0.5px #929292;
	-moz-box-shadow: 0 0 2px 0.5px #929292;
	-o-box-shadow: 0 0 2px 0.5px #929292;
	-ms-box-shadow: 0 0 2px 0.5px #929292;
	box-shadow: 0 0 2px 0.5px #929292;
	outline: 0;
}

body [data-btn]:not( :disabled ):active,
body [data-btn="fab"]:not( :disabled ):active::before {
	-webkit-box-shadow: 0 0 2px 2px currentColor, 0 0 4px 2px #FAFAFA inset;
	-moz-box-shadow: 0 0 2px 2px currentColor, 0 0 4px 2px #FAFAFA inset;
	-o-box-shadow: 0 0 2px 2px currentColor, 0 0 4px 2px #FAFAFA inset;
	-ms-box-shadow: 0 0 2px 2px currentColor, 0 0 4px 2px #FAFAFA inset;
	box-shadow: 0 0 2px 2px currentColor, 0 0 4px 2px #FAFAFA inset;
	outline: 0;
}

body [data-btn="fab"]:hover,
body [data-btn="fab"]:focus,
body [data-btn="fab"]:hover::before,
body [data-btn="fab"]:focus::before,
body [data-btn="switch"]:active,
body [type="checkbox"][data-btn="switch"]:hover,
body [type="checkbox"][data-btn="switch"]:focus,
body [type="checkbox"][data-btn="switch"]:active {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}

body button:disabled,
body [data-btn]:disabled,
body [data-btn="progress"]:disabled::after,
body [data-btn="fab"]:disabled::after {
	color: #A0A0A0;
	cursor: not-allowed;
}

body [data-btn="progress"]::after,
body [data-btn="fab"]::before,
body [type="checkbox"][data-btn="switch"]::after {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}


body [data-btn="cta"] {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
} 

body [data-btn="fab"],
body [type="checkbox"][data-btn="switch"]::after {
	-webkit-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	-ms-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
	will-change: transform;
}

body [data-btn="fab"] {
	-webkit-transform: rotate( 0deg );
	-moz-transform: rotate( 0deg );
	-o-transform: rotate( 0deg );
	-ms-transform: rotate( 0deg );
	transform: rotate( 0deg) ;
	will-change: transform;
}

body [data-btn="primary"] {
	padding: 14px 28px;
}

body [data-btn="secondary"] {
	padding: 14px;
}

body [data-btn="tertiary"] {
}

body [data-btn="quaternary"] {
	padding: 3px 7px;
}

body [data-btn="progress"]::after {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: btn-progresser;
	animation-timing-function: linear;
	border: solid 2px currentColor;
	border-top-color: transparent;
	color:  #0D47A1;
	content: "";
	display: inline-block;
	font-size: 0;
	height: 10px;
	line-height: 10px;
	margin: 0 7px;
	padding: 0;
	position: relative;
	width: 10px;
	will-change: transform;
	top: 2px;
}

@keyframes btn-progresser {
	0% { 
		-webkit-transform: rotate( 0deg );
		-moz-transform: rotate( 0deg );
		-o-transform: rotate( 0deg );
		-ms-transform: rotate( 0deg );
		transform: rotate( 0deg ); 
	}
	100% {
		-webkit-transform: rotate( 360deg );
		-moz-transform: rotate( 360deg );
		-o-transform: rotate( 360deg );
		-ms-transform: rotate( 360deg );
		transform: rotate( 360deg ); 
	}
}

body [data-btn="cta"] {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
    border-radius: 2px;
    padding: 21px 35px;
}

body [data-btn="ghost"] {
	background-color: transparent;
}

body [data-btn="fab"] {
	background-color: transparent;
	border: none;
	color: #FAFAFA;
	display: inline-block;
	font-size: 0;
	height: 45px;
	position: relative;
	width: 45px;
	line-height: 45px;
}

body [data-btn="fab"]:not( :disabled ):hover,
body [data-btn="fab"]:not( :disabled ):focus  {
	-webkit-transform: rotate( 225deg );
	-moz-transform: rotate( 225deg );
	-o-transform: rotate( 225deg );
	-ms-transform: rotate( 225deg );
	transform: rotate( 225deg) ;
}

body [data-btn="fab"]::before,
body [data-btn="fab"]::after {
	content: "";
	display: block;
	height: 45px;
	line-height: 45px;
	position: absolute;
	width: 45px;
	font-size: 45px;
	top: 0px;
	left: 0px;
	vertical-align: top;
	text-align: center;
}

body [data-btn="fab"]::before {
	background-color: #E0E0E0;
}

body [data-btn="fab"]:active::before {
	background-color: #F44336;
}

body [data-btn="fab"]::after {
	content: "+";
}

body [type="checkbox"][data-btn="switch"] {
	background-color: #E0E0E0;
	width: 60px;
	height: 30px;
}

body [type="checkbox"][data-btn="switch"]::before,
body [type="checkbox"][data-btn="switch"]::after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
}

body [type="checkbox"][data-btn="switch"]::before {
	border: solid 1px #A0A0A0;
	background-color: inherit;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	-ms-border-radius: 30px;
	border-radius: 30px;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out; 
	width: inherit;
}

body [type="checkbox"][data-btn="switch"]:checked::before {
	background-color: #81C784;
}

body [type="checkbox"][data-btn="switch"]::after {
	border: solid 1px #B0B0B0;
	background: #FFF;
	left: 1px;
	line-height: 28px;
	-webkit-transform: translateX( 0px );
	-moz-transform: translateX( 0px );
	-ms-transform: translateX( 0px );
	-o-transform: translateX( 0px );
	transform: translateX( 0px );
	width: 30px;
	will-change: transform;
}

body [type="checkbox"][data-btn="switch"]:not( :disabled ):checked::after {
	-webkit-transform: translateX( 29px );
	-moz-transform: translateX( 29px );
	-o-transform: translateX( 29px );
	-ms-transform: translateX( 29px );
	transform: translateX( 29px );
}

body [type="checkbox"][data-btn="switch"]:disabled::after {
	background-color: #F6F6F6;
	cursor: not-allowed;
}

body [data-btn="close"] {
	color: #F00;
	font-size: 28px;
	padding: 0;
	height: 28px;
	width: 28px;
}

body [data-btn="close"]::before {
	color: inherit;
	content: "\d7";
	font-size: inherit;
	line-height: inherit;
	position: relative;
	text-align: center;
	top: 1px;
	padding: 0;
}