/* component-animation-preloader.css */

body [data-animation="preloader"], 
body [data-animation="preloader"]::before, 
body [data-animation="preloader"]::after {
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: preloader;
	background-color: currentColor;
	border: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	box-sizing: border-box;
	font-size: 0;
	height: 12px;
	line-height: 0;
	-webkit-transition: background-color, border-color 0.1s ease-in-out;
	-moz-transition: background-color, border-color 0.1s ease-in-out;
	-o-transition: background-color, border-color 0.1s ease-in-out;
	-ms-transition: background-color, border-color 0.1s ease-in-out;
	transition: background-color, border-color 0.1s ease-in-out;
	vertical-align: top;
	width: 12px;
}

body [data-animation="preloader"] {
	animation-delay: 0.33s;
	color: #424242;
	display: block !important;
	margin-bottom: 7px;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 7px;
}

body [data-animation="preloader"]::before, 
body [data-animation="preloader"]::after {
	color: currentColor;
	content: "";
	display: inline-block !important;
	position: absolute;
	float: left;
}

body [data-animation="preloader"]::before {
	left: -19px;
	top: -0.5px;
}

body [data-animation="preloader"]::after {
	animation-delay: 0.66s;
	left: 19px;
	top: -0.5px;
}

@keyframes preloader {
	0% { 
		background-color: #FFF;
	}
	90% { 
		background-color: currentColor;
	}
	100% { 
		background-color: #FFF; 
	}
}