/*
component-grid-col-sm.css
These grids are built in the mobile first.
Here contains 12 wide columns.
Minimum screen = 576px x 540px for screen ( VGA - 720px x 480px )
*/

body * [ class*="col-sm-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
}

/* Phones - Small Devices (landscape phones, 576px > 767px) */
@media ( min-width: 576px ) {
    body .col-sm-1 {
        width: calc( ( 100% / 12 ) * 1 ); 
    }

    body .col-sm-2 {
        width: calc( ( 100% / 12 ) * 2 );
    }

    body .col-sm-3 {
        width: calc( ( 100% / 12 ) * 3 );
    }

    body .col-sm-4 {
        width: calc( ( 100% / 12 ) * 4 );
    }

    body .col-sm-5 {
        width: calc( ( 100% / 12 ) * 5 );
    }

    body .col-sm-6 {
        width: calc( ( 100% / 12 ) * 6 );
    }

    body .col-sm-7 {
        width: calc( ( 100% / 12 ) * 7 );
    }

    body .col-sm-8 {
        width: calc( ( 100% / 12 ) * 8 );
    }

    body .col-sm-9 {
        width: calc( ( 100% / 12 ) * 9 );
    }

    body .col-sm-10 {
        width: calc( ( 100% / 12 ) * 10 );
    }

    body .col-sm-11 {
        width: calc( ( 100% / 12 ) * 11 );
    }

    body .col-sm-12 {
        width: 100%;
    }

    body .col-sm-offset-1 {
    	margin-left: calc( ( 100% / 12 ) * 1);
    }

    body .col-sm-offset-2 {
        margin-left: calc( ( 100% / 12 ) * 2 );
    }

    body .col-sm-offset-3 {
        margin-left: calc( ( 100% / 12 ) * 3 );
    }

    body .col-sm-offset-4 {
        margin-left: calc( ( 100% / 12 ) * 4 );
    }

    body .col-sm-offset-5 {
        margin-left: calc( ( 100% / 12 ) * 5 );
    }

    body .col-sm-offset-6 {
        margin-left: calc( ( 100% / 12 ) * 6 );
    }

    body .col-sm-offset-7 {
        margin-left: calc( ( 100% / 12 ) * 7 );
    }

    body .col-sm-offset-8 {
        margin-left: calc( ( 100% / 12 ) * 8 );
    }

    body .col-sm-offset-9 {
        margin-left: calc( ( 100% / 12 ) * 9 );
    }

    body .col-sm-offset-10 {
        margin-left: calc( ( 100% / 12 ) * 10 );
    }

    body .col-sm-offset-11 {
        margin-left: calc( ( 100% / 12 ) * 11 );
    }

    body .col-sm-offset-12 {
        margin-left: 100%;
    }

     body .col-sm-pull-1 {
        margin-right: calc( ( 100% / 12 ) * 1);
    }

    body .col-sm-pull-2 {
        margin-right: calc( ( 100% / 12 ) * 2 );
    }

    body .col-sm-pull-3 {
        margin-right: calc( ( 100% / 12 ) * 3 );
    }

    body .col-sm-pull-4 {
        margin-right: calc( ( 100% / 12 ) * 4 );
    }

    body .col-sm-pull-5 {
        margin-right: calc( ( 100% / 12 ) * 5 );
    }

    body .col-sm-pull-6 {
        margin-right: calc( ( 100% / 12 ) * 6 );
    }

    body .col-sm-pull-7 {
        margin-right: calc( ( 100% / 12 ) * 7 );
    }

    body .col-sm-pull-8 {
        margin-right: calc( ( 100% / 12 ) * 8 );
    }

    body .col-sm-pull-9 {
        margin-right: calc( ( 100% / 12 ) * 9 );
    }

    body .col-sm-pull-10 {
        margin-right: calc( ( 100% / 12 ) * 10 );
    }

    body .col-sm-pull-11 {
        margin-right: calc( ( 100% / 12 ) * 11 );
    }

    body .col-sm-pull-12 {
        margin-right: 100%;
    }
}