body * [ class*="row-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    left: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
    overflow: auto;
}