body [ data-shape="backspace" ], 
body [ data-shape="backspace" ]::before,
body [ data-shape="backspace" ]::after {
	display: block;
	left: 0;
	top: 0;
	border-color: currentColor;
	border-width: 2px;
	border-style: solid;
}

body [ data-shape="backspace" ]::before,
body [ data-shape="backspace" ]::after {
	position: absolute;
	color: currentColor;
	content: "";
	top: 0;
	left: 0;
}

body [ data-shape="backspace" ] {
	border-left: transparent;
	color: inherit;
	font-weight: 900;
	height: 14px;
	left: 14px;
	position: relative;
	text-align: center;
	width: 14px;
}

body [ data-shape="backspace" ]::before {
	border: none;
	content: "\d7";
	font-size: 12px;
	left: 0px;
	line-height: 12px;
	top: 0px;
	text-align: center;
}

body [ data-shape="backspace" ]::after {
	width: 8px;
	height: 8px;
	top: 0px;
	left: -5px;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
}