/*
component-grid-row-sm.css
These grids are built in the mobile first.
Here contains 24 wide rows.
Minimum screen = 576px x 540px for screen ( VGA - 720px x 480px )
*/

body * [ class*="row-sm-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
    overflow: auto;
}

/* Phones - Small Devices (Phones, 600px - 680px) */
@media ( min-height: 540px ) {
    body .row-sm-fluid {
        height: auto !important;
    }

    body .row-sm-1 {
        height: calc( 100vh / 24 );
        min-height: calc( 100vh / 24 );
    }

    body .row-sm-2 {
        height: calc( ( 100vh / 24 ) * 2 );
        min-height: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-sm-3 {
        height: calc( ( 100vh / 24 ) * 3 );
        min-height: calc( (100vh / 24 ) * 3 );
    }

    body .row-sm-4 {
        height: calc( ( 100vh / 24 ) * 4 );
        min-height: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-sm-5 {
        height: calc( ( 100vh / 24 ) * 5 );
        min-height: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-sm-6 {
        height: calc( ( 100vh / 24 ) * 6 );
        min-height: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-sm-7 {
        height: calc( ( 100vh / 24 ) * 7 );
        min-height: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-sm-8 {
        height: calc( ( 100vh / 24 ) * 8 );
        min-height: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-sm-9 {
        height: calc( ( 100vh / 24 ) * 9 );    
        min-height: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-sm-10 {
        height: calc( ( 100vh / 24 ) * 10 );
        min-height: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-sm-11 {
        height: calc( ( 100vh / 24 ) * 11 );
        min-height: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-sm-12 {
        height: calc( ( 100vh / 24 ) * 12 );
        min-height: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-sm-13 {
        height: calc( ( 100vh / 24 ) * 13 );
        min-height: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-sm-14 {
        height: calc( ( 100vh / 24 ) * 14 );
        min-height: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-sm-15 {
        height: calc( ( 100vh / 24 ) * 15 );
        min-height: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-sm-16 {
        height: calc( ( 100vh / 24 ) * 16 );
        min-height: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-sm-17 {
        height: calc( ( 100vh / 24 ) * 17 );
        min-height: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-sm-18 {
        height: calc( ( 100vh / 24 ) * 18 );
        min-height: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-sm-19 {
        height: calc( ( 100vh / 24 ) * 19 );
        min-height: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-sm-20 {
        height: calc( ( 100vh / 24 ) * 20 );
        min-height: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-sm-21 {
        height: calc( ( 100vh / 24 ) * 21 );
        min-height: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-sm-22 {
        height: calc( ( 100vh / 24 ) * 22 );
        min-height: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-sm-23 {
        height: calc( ( 100vh / 24 ) * 23 );
        min-height: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-sm-24 {
        height: calc( 100vh - 0.2px );
        min-height: calc( 480px - 0.2px );
    }

    body .row-sm-offset-1 {
        margin-top: calc( 100vh / 24 );
    }

    body .row-sm-offset-2 {
        margin-top: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-sm-offset-3 {
        margin-top: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-sm-offset-4 {
        margin-top: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-sm-offset-5 {
        margin-top: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-sm-offset-6 {
        margin-top: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-sm-offset-7 {
        margin-top: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-sm-offset-8 {
        margin-top: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-sm-offset-9 {
        margin-top: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-sm-offset-10 {
        margin-top: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-sm-offset-11 {
        margin-top: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-sm-offset-12 {
        margin-top: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-sm-offset-13 {
        margin-top: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-sm-offset-14 {
        margin-top: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-sm-offset-15 {
        margin-top: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-sm-offset-16 {
        margin-top: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-sm-offset-17 {
        margin-top: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-sm-offset-18 {
        margin-top: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-sm-offset-19 {
        margin-top: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-sm-offset-20 {
        margin-top: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-sm-offset-21 {
        margin-top: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-sm-offset-22 {
        margin-top: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-sm-offset-23 {
        margin-top: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-sm-offset-24 {
        margin-top: calc( 100vh - 0.2px );
    }

    body .row-sm-pull-1 {
        margin-bottom: calc( 100vh / 24 );
    }

    body .row-sm-pull-2 {
        margin-bottom: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-sm-pull-3 {
        margin-bottom: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-sm-pull-4 {
        margin-bottom: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-sm-pull-5 {
        margin-bottom: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-sm-pull-6 {
        margin-bottom: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-sm-pull-7 {
        margin-bottom: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-sm-pull-8 {
        margin-bottom: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-sm-pull-9 {
        margin-bottom: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-sm-pull-10 {
        margin-bottom: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-sm-pull-11 {
        margin-bottom: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-sm-pull-12 {
        margin-bottom: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-sm-pull-13 {
        margin-bottom: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-sm-pull-14 {
        margin-bottom: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-sm-pull-15 {
        margin-bottom: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-sm-pull-16 {
        margin-bottom: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-sm-pull-17 {
        margin-bottom: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-sm-pull-18 {
        margin-bottom: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-sm-pull-19 {
        margin-bottom: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-sm-pull-20 {
        margin-bottom: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-sm-pull-21 {
        margin-bottom: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-sm-pull-22 {
        margin-bottom: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-sm-pull-23 {
        margin-bottom: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-sm-pull-24 {
        margin-bottom: calc( 100vh - 0.2px );
    }
}