/* component-shape-cash-out.css */

body [data-shape="cash-out"] {
	border-top: solid 2px;
	border-color: currentColor;
}

body [data-shape="cash-out"]::before,
body [data-shape="cash-out"]::after {
	content: "";
	display: inherit;
	position: absolute;
}

body [data-shape="cash-out"]::before {
	border-left: solid 2px;
	height: 8px;
	left: 7px;
	top: 1px;
}

body [data-shape="cash-out"]::after {
	width: 6px;
	height: 6px;
	left: 4px;
	top: 4px;
	border-right: solid 2px;
	border-bottom: solid 2px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}