/*
component-grid-row-lg.css
These grids are built in the mobile first.
Here contains 24 wide rows.
Minimum screen = 992px x 720px for screen ( SVGA - 800px x 600px )
*/

body * [ class*="row-lg-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
    overflow: auto;
}

/* Desktops = Large Devices (Desktops, 768px > 900px) */
@media ( min-height: 720px ) {
    body .row-lg-fluid {
        height: auto !important;
    }

    body .row-lg-1 {
        height: calc( 100vh / 24 );
        min-height: calc( 100vh / 24 );
    }

    body .row-lg-2 {
        height: calc( ( 100vh / 24 ) * 2 );
        min-height: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-lg-3 {
        height: calc( ( 100vh / 24 ) * 3 );
        min-height: calc( (100vh / 24 ) * 3 );
    }

    body .row-lg-4 {
        height: calc( ( 100vh / 24 ) * 4 );
        min-height: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-lg-5 {
        height: calc( ( 100vh / 24 ) * 5 );
        min-height: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-lg-6 {
        height: calc( ( 100vh / 24 ) * 6 );
        min-height: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-lg-7 {
        height: calc( ( 100vh / 24 ) * 7 );
        min-height: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-lg-8 {
        height: calc( ( 100vh / 24 ) * 8 );
        min-height: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-lg-9 {
        height: calc( ( 100vh / 24 ) * 9 );    
        min-height: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-lg-10 {
        height: calc( ( 100vh / 24 ) * 10 );
        min-height: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-lg-11 {
        height: calc( ( 100vh / 24 ) * 11 );
        min-height: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-lg-12 {
        height: calc( ( 100vh / 24 ) * 12 );
        min-height: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-lg-13 {
        height: calc( ( 100vh / 24 ) * 13 );
        min-height: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-lg-14 {
        height: calc( ( 100vh / 24 ) * 14 );
        min-height: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-lg-15 {
        height: calc( ( 100vh / 24 ) * 15 );
        min-height: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-lg-16 {
        height: calc( ( 100vh / 24 ) * 16 );
        min-height: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-lg-17 {
        height: calc( ( 100vh / 24 ) * 17 );
        min-height: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-lg-18 {
        height: calc( ( 100vh / 24 ) * 18 );
        min-height: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-lg-19 {
        height: calc( ( 100vh / 24 ) * 19 );
        min-height: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-lg-20 {
        height: calc( ( 100vh / 24 ) * 20 );
        min-height: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-lg-21 {
        height: calc( ( 100vh / 24 ) * 21 );
        min-height: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-lg-22 {
        height: calc( ( 100vh / 24 ) * 22 );
        min-height: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-lg-23 {
        height: calc( ( 100vh / 24 ) * 23 );
        min-height: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-lg-24 {
        height: calc( 100vh - 0.2px );
        min-height: calc( 480px - 0.2px );
    }

    body .row-lg-offset-1 {
        margin-top: calc( 100vh / 24 );
    }

    body .row-lg-offset-2 {
        margin-top: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-lg-offset-3 {
        margin-top: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-lg-offset-4 {
        margin-top: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-lg-offset-5 {
        margin-top: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-lg-offset-6 {
        margin-top: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-lg-offset-7 {
        margin-top: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-lg-offset-8 {
        margin-top: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-lg-offset-9 {
        margin-top: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-lg-offset-10 {
        margin-top: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-lg-offset-11 {
        margin-top: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-lg-offset-12 {
        margin-top: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-lg-offset-13 {
        margin-top: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-lg-offset-14 {
        margin-top: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-lg-offset-15 {
        margin-top: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-lg-offset-16 {
        margin-top: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-lg-offset-17 {
        margin-top: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-lg-offset-18 {
        margin-top: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-lg-offset-19 {
        margin-top: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-lg-offset-20 {
        margin-top: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-lg-offset-21 {
        margin-top: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-lg-offset-22 {
        margin-top: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-lg-offset-23 {
        margin-top: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-lg-offset-24 {
        margin-top: calc( 100vh - 0.2px );
    }

    body .row-lg-pull-1 {
        margin-bottom: calc( 100vh / 24 );
    }

    body .row-lg-pull-2 {
        margin-bottom: calc( ( 100vh / 24 ) * 2 );
    }

    body .row-lg-pull-3 {
        margin-bottom: calc( ( 100vh / 24 ) * 3 );
    }

    body .row-lg-pull-4 {
        margin-bottom: calc( ( 100vh / 24 ) * 4 );
    }

    body .row-lg-pull-5 {
        margin-bottom: calc( ( 100vh / 24 ) * 5 );
    }

    body .row-lg-pull-6 {
        margin-bottom: calc( ( 100vh / 24 ) * 6 );
    }

    body .row-lg-pull-7 {
        margin-bottom: calc( ( 100vh / 24 ) * 7 );
    }

    body .row-lg-pull-8 {
        margin-bottom: calc( ( 100vh / 24 ) * 8 );
    }

    body .row-lg-pull-9 {
        margin-bottom: calc( ( 100vh / 24 ) * 9 );
    }

    body .row-lg-pull-10 {
        margin-bottom: calc( ( 100vh / 24 ) * 10 );
    }

    body .row-lg-pull-11 {
        margin-bottom: calc( ( 100vh / 24 ) * 11 );
    }

    body .row-lg-pull-12 {
        margin-bottom: calc( ( 100vh / 24 ) * 12 );
    }

    body .row-lg-pull-13 {
        margin-bottom: calc( ( 100vh / 24 ) * 13 );
    }

    body .row-lg-pull-14 {
        margin-bottom: calc( ( 100vh / 24 ) * 14 );
    }

    body .row-lg-pull-15 {
        margin-bottom: calc( ( 100vh / 24 ) * 15 );
    }

    body .row-lg-pull-16 {
        margin-bottom: calc( ( 100vh / 24 ) * 16 );
    }

    body .row-lg-pull-17 {
        margin-bottom: calc( ( 100vh / 24 ) * 17 );
    }

    body .row-lg-pull-18 {
        margin-bottom: calc( ( 100vh / 24 ) * 18 );
    }

    body .row-lg-pull-19 {
        margin-bottom: calc( ( 100vh / 24 ) * 19 );
    }

    body .row-lg-pull-20 {
        margin-bottom: calc( ( 100vh / 24 ) * 20 );
    }

    body .row-lg-pull-21 {
        margin-bottom: calc( ( 100vh / 24 ) * 21 );
    }

    body .row-lg-pull-22 {
        margin-bottom: calc( ( 100vh / 24 ) * 22 );
    }

    body .row-lg-pull-23 {
        margin-bottom: calc( ( 100vh / 24 ) * 23 );
    }

    body .row-lg-pull-24 {
        margin-bottom: calc( 100vh - 0.2px );
    }
}