/*component-shape-sandwich*/

body [data-shape="sandwich"]::before, 
body [data-shape="sandwich"]::after,
body [data-shape="sandwich"] {
	background-color: currentColor;
	cursor: pointer;
	left: 0;
}


body [data-shape="sandwich"] {
	height: 4px;
	width: 24px;
	margin: 8px 2px;
}

body [data-shape="sandwich"]::before, 
body [data-shape="sandwich"]::after {
	content: "";
	display: block;
	height: inherit;
	position: relative;
	-webkit-transform: rotate( 0deg );
	-moz-transform: rotate( 0deg );
	-ms-transform: rotate( 0deg );
	-o-transform: rotate( 0deg );
	transform: rotate( 0deg );
	-webkit-transform-origin: 14% 50%;
	-moz-transform-origin: 14% 50%;
	-ms-transform-origin: 14% 50%;
	-o-transform-origin: 14% 50%;
	transform-origin: 14% 50%;
	-webkit-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
	width: inherit;
	will-change: background-color, transform, transform-origin, trasition;
}

body [data-shape="sandwich"]::before { 
	top: -6px;
} 

body [data-shape="sandwich"]::after {
	top: 2px;
}

body [data-shape="sandwich"].active {
	background-color: transparent;
}

body [data-shape="sandwich"].active::before {
	-webkit-transform: rotate( 45deg );
	-moz-transform: rotate( 45deg );
	-ms-transform: rotate( 45deg );
	-o-transform: rotate( 45deg );
	transform: rotate( 45deg );
	left: 2px;
}

body [data-shape="sandwich"].active::after {
	-webkit-transform: rotate( -45deg );
	-moz-transform: rotate( -45deg );
	-ms-transform: rotate( -45deg );
	-o-transform: rotate( -45deg );
	transform: rotate( -45deg );
	left: 2px;
}