/* GRID COL-XS
These grids are built in the mobile first.
Here contains 12 wide columns.
Minimum screen = 320px x 480px for screen ( VGA - 720px x 480px )
*/

body * [ class*="col-" ] {
    border: none;
    bottom: 0;
    box-sizing: border-box !important;
    display: inline-block;
    clear: none;
    float: left;
    left: 0;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    vertical-align: top;
}

/* Extra Phones - Small Devices (portrait phones, 320px - 575px) */
@media ( min-width: 320px ) {
    body .col-xs-1 {
        width: calc( ( 100% / 12 ) * 1 ); 
    }

    body .col-xs-2 {
        width: calc( ( 100% / 12 ) * 2 );
    }

    body .col-xs-3 {
        width: calc( ( 100% / 12 ) * 3 );
    }

    body .col-xs-4 {
        width: calc( ( 100% / 12 ) * 4 );
    }

    body .col-xs-5 {
        width: calc( ( 100% / 12 ) * 5 );
    }

    body .col-xs-6 {
        width: calc( ( 100% / 12 ) * 6 );
    }

    body .col-xs-7 {
        width: calc( ( 100% / 12 ) * 7 );
    }

    body .col-xs-8 {
        width: calc( ( 100% / 12 ) * 8 );
    }

    body .col-xs-9 {
        width: calc( ( 100% / 12 ) * 9 );
    }

    body .col-xs-10 {
        width: calc( ( 100% / 12 ) * 10 );
    }

    body .col-xs-11 {
        width: calc( ( 100% / 12 ) * 11 );
    }

    body .col-xs-12 {
        width: 100%;
    }

    body .col-xs-offset-1 {
    	margin-left: calc( ( 100% / 12 ) * 1);
    }

    body .col-xs-offset-2 {
        margin-left: calc( ( 100% / 12 ) * 2 );
    }

    body .col-xs-offset-3 {
        margin-left: calc( ( 100% / 12 ) * 3 );
    }

    body .col-xs-offset-4 {
        margin-left: calc( ( 100% / 12 ) * 4 );
    }

    body .col-xs-offset-5 {
        margin-left: calc( ( 100% / 12 ) * 5 );
    }

    body .col-xs-offset-6 {
        margin-left: calc( ( 100% / 12 ) * 6 );
    }

    body .col-xs-offset-7 {
        margin-left: calc( ( 100% / 12 ) * 7 );
    }

    body .col-xs-offset-8 {
        margin-left: calc( ( 100% / 12 ) * 8 );
    }

    body .col-xs-offset-9 {
        margin-left: calc( ( 100% / 12 ) * 9 );
    }

    body .col-xs-offset-10 {
        margin-left: calc( ( 100% / 12 ) * 10 );
    }

    body .col-xs-offset-11 {
        margin-left: calc( ( 100% / 12 ) * 11 );
    }

    body .col-xs-offset-12 {
        margin-left: 100%;
    }

    body .col-xs-pull-1 {
        margin-right: calc( ( 100% / 12 ) * 1);
    }

    body .col-xs-pull-2 {
        margin-right: calc( ( 100% / 12 ) * 2 );
    }

    body .col-xs-pull-3 {
        margin-right: calc( ( 100% / 12 ) * 3 );
    }

    body .col-xs-pull-4 {
        margin-right: calc( ( 100% / 12 ) * 4 );
    }

    body .col-xs-pull-5 {
        margin-right: calc( ( 100% / 12 ) * 5 );
    }

    body .col-xs-pull-6 {
        margin-right: calc( ( 100% / 12 ) * 6 );
    }

    body .col-xs-pull-7 {
        margin-right: calc( ( 100% / 12 ) * 7 );
    }

    body .col-xs-pull-8 {
        margin-right: calc( ( 100% / 12 ) * 8 );
    }

    body .col-xs-pull-9 {
        margin-right: calc( ( 100% / 12 ) * 9 );
    }

    body .col-xs-pull-10 {
        margin-right: calc( ( 100% / 12 ) * 10 );
    }

    body .col-xs-pull-11 {
        margin-right: calc( ( 100% / 12 ) * 11 );
    }

    body .col-xs-pull-12 {
        margin-right: 100%;
    }
}