body [ container ] {
    display: webkit-grid;
    display: moz-grid;
    display: ms-grid;
    display: o-grid;
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /*grid-template-areas: 
        'header header header'
        'aside content content'
        'footer footer footer';*/
    grid-gap: 1px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

body [ container ]::before,
body [ container ]::after {
    content: " ";
    display: table;
}

body [ container ]::after {
    clear: both;
}

body [ container ]  > * {
    background-color: #CFCFCF;
    padding: 8px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}