/* Tablets - Medium Devices (tablets, 768px > 991px) */
@media ( min-width: 768px ) {

    body * [ column-md ] {
        clear: none;
        vertical-align: top;
    }

    body * [ column-md*="01-" ] {
        grid-column-start: 1;
    }

    body * [ column-md*="02-" ] {
        grid-column-start: 2;
    }

    body * [ column-md*="03-" ] {
        grid-column-start: 3;
    }

    body * [ column-md*="04-" ] {
        grid-column-start: 4;
    }

    body * [ column-md*="05-" ] {
        grid-column-start: 5;
    }

    body * [ column-md*="06-" ] {
        grid-column-start: 6;
    }

    body * [ column-md*="07-" ] {
        grid-column-start: 7;
    }

    body * [ column-md*="08-" ] {
        grid-column-start: 8;
    }

    body * [ column-md*="09-" ] {
        grid-column-start: 9;
    }

    body * [ column-md*="10-" ] {
        grid-column-start: 10;
    }

    body * [ column-md*="11-" ] {
        grid-column-start: 11;
    }

    body * [ column-md*="12-" ] {
        grid-column-start: 12;
    }


    body * [ column-md*="-01" ] {
        grid-column-end: 2;
    }

    body * [ column-md*="-02" ] {
        grid-column-end: 3;
    }

    body * [ column-md*="-03" ] {
        grid-column-end: 4;
    }

    body * [ column-md*="-04" ] {
        grid-column-end: 5;
    }

    body * [ column-md*="-05" ] {
        grid-column-end: 6;
    }

    body * [ column-md*="-06" ] {
        grid-column-end: 7;
    }

    body * [ column-md*="-07" ] {
        grid-column-end: 8;
    }

    body * [ column-md*="-08" ] {
        grid-column-end: 9;
    }

    body * [ column-md*="-09" ] {
        grid-column-end: 10;
    }

    body * [ column-md*="-10" ] {
        grid-column-end: 11;
    }

    body * [ column-md*="-11" ] {
        grid-column-end: 12;
    }

    body * [ column-md*="-12" ] {
        grid-column-end: 13;
    }
}
