/* TVs, Screen UHD and Screen Multimedia - Extra Large Devices (large desktops, 1200px and up) */
@media ( min-width: 1200px ) {

    body * [ column-xl ] {
        clear: none;
        vertical-align: top;
    }

    body * [ column-xl*="01-" ] {
        grid-column-start: 1;
    }

    body * [ column-xl*="02-" ] {
        grid-column-start: 2;
    }

    body * [ column-xl*="03-" ] {
        grid-column-start: 3;
    }

    body * [ column-xl*="04-" ] {
        grid-column-start: 4;
    }

    body * [ column-xl*="05-" ] {
        grid-column-start: 5;
    }

    body * [ column-xl*="06-" ] {
        grid-column-start: 6;
    }

    body * [ column-xl*="07-" ] {
        grid-column-start: 7;
    }

    body * [ column-xl*="08-" ] {
        grid-column-start: 8;
    }

    body * [ column-xl*="09-" ] {
        grid-column-start: 9;
    }

    body * [ column-xl*="10-" ] {
        grid-column-start: 10;
    }

    body * [ column-xl*="11-" ] {
        grid-column-start: 11;
    }

    body * [ column-xl*="12-" ] {
        grid-column-start: 12;
    }


    body * [ column-xl*="-01" ] {
        grid-column-end: 2;
    }

    body * [ column-xl*="-02" ] {
        grid-column-end: 3;
    }

    body * [ column-xl*="-03" ] {
        grid-column-end: 4;
    }

    body * [ column-xl*="-04" ] {
        grid-column-end: 5;
    }

    body * [ column-xl*="-05" ] {
        grid-column-end: 6;
    }

    body * [ column-xl*="-06" ] {
        grid-column-end: 7;
    }

    body * [ column-xl*="-07" ] {
        grid-column-end: 8;
    }

    body * [ column-xl*="-08" ] {
        grid-column-end: 9;
    }

    body * [ column-xl*="-09" ] {
        grid-column-end: 10;
    }

    body * [ column-xl*="-10" ] {
        grid-column-end: 11;
    }

    body * [ column-xl*="-11" ] {
        grid-column-end: 12;
    }

    body * [ column-xl*="-12" ] {
        grid-column-end: 13;
    }
}