/* Desktop - Large Devices (desktops, 992px > 1199px) */
@media ( min-width: 992px ) {

    body * [ column-lg ] {
        clear: none;
        vertical-align: top;
    }

    body * [ column-lg*="01-" ] {
        grid-column-start: 1;
    }

    body * [ column-lg*="02-" ] {
        grid-column-start: 2;
    }

    body * [ column-lg*="03-" ] {
        grid-column-start: 3;
    }

    body * [ column-lg*="04-" ] {
        grid-column-start: 4;
    }

    body * [ column-lg*="05-" ] {
        grid-column-start: 5;
    }

    body * [ column-lg*="06-" ] {
        grid-column-start: 6;
    }

    body * [ column-lg*="07-" ] {
        grid-column-start: 7;
    }

    body * [ column-lg*="08-" ] {
        grid-column-start: 8;
    }

    body * [ column-lg*="09-" ] {
        grid-column-start: 9;
    }

    body * [ column-lg*="10-" ] {
        grid-column-start: 10;
    }

    body * [ column-lg*="11-" ] {
        grid-column-start: 11;
    }

    body * [ column-lg*="12-" ] {
        grid-column-start: 12;
    }


    body * [ column-lg*="-01" ] {
        grid-column-end: 2;
    }

    body * [ column-lg*="-02" ] {
        grid-column-end: 3;
    }

    body * [ column-lg*="-03" ] {
        grid-column-end: 4;
    }

    body * [ column-lg*="-04" ] {
        grid-column-end: 5;
    }

    body * [ column-lg*="-05" ] {
        grid-column-end: 6;
    }

    body * [ column-lg*="-06" ] {
        grid-column-end: 7;
    }

    body * [ column-lg*="-07" ] {
        grid-column-end: 8;
    }

    body * [ column-lg*="-08" ] {
        grid-column-end: 9;
    }

    body * [ column-lg*="-09" ] {
        grid-column-end: 10;
    }

    body * [ column-lg*="-10" ] {
        grid-column-end: 11;
    }

    body * [ column-lg*="-11" ] {
        grid-column-end: 12;
    }

    body * [ column-lg*="-12" ] {
        grid-column-end: 13;
    }
}
