/* Background Color Indigo */
[indigo] { background-color: #3f51b5; }
[indigo="1"] { background-color: #e8eaf6; }
[indigo="2"] { background-color: #c5cae9; }
[indigo="3"] { background-color: #9fa8da; }
[indigo="4"] { background-color: #7986cb; }
[indigo="5"] { background-color: #5c6bc0; }
[indigo="6"] { background-color: #3949ab; }
[indigo="7"] { background-color: #303f9f; }
[indigo="8"] { background-color: #283593; }
[indigo="9"] { background-color: #1a237e; }
[indigo="a-1"] { background-color: #8c9eff; }
[indigo="a-2"] { background-color: #536dfe; }
[indigo="a-3"] { background-color: #3d5afe; }
[indigo="a-4"] { background-color: #304ffe; }

/* Text Color Indigo */
[color="indigo"] { color: #3f51b5; }
[color="indigo-1"] { color: #e8eaf6; }
[color="indigo-2"] { color: #c5cae9; }
[color="indigo-3"] { color: #9fa8da; }
[color="indigo-4"] { color: #7986cb; }
[color="indigo-5"] { color: #5c6bc0; }
[color="indigo-6"] { color: #3949ab; }
[color="indigo-7"] { color: #303f9f; }
[color="indigo-8"] { color: #283593; }
[color="indigo-9"] { color: #1a237e; }
[color="indigo-a-1"] { color: #8c9eff; }
[color="indigo-a-2"] { color: #536dfe; }
[color="indigo-a-3"] { color: #3d5afe; }
[color="indigo-a-4"] { color: #304ffe; }