/* Background Color Light-blue */
[light-blue] { background-color: #03a9f4; }
[light-blue="1"] { background-color: #e1f5fe; }
[light-blue="2"] { background-color: #b3e5fc; }
[light-blue="3"] { background-color: #81d4fa; }
[light-blue="4"] { background-color: #4fc3f7; }
[light-blue="5"] { background-color: #29b6f6; }
[light-blue="6"] { background-color: #039be5; }
[light-blue="7"] { background-color: #0288d1; }
[light-blue="8"] { background-color: #0277bd; }
[light-blue="9"] { background-color: #01579b; }
[light-blue="a-1"] { background-color: #80d8ff; }
[light-blue="a-2"] { background-color: #40c4ff; }
[light-blue="a-3"] { background-color: #00b0ff; }
[light-blue="a-4"] { background-color: #0091ea; }

/* Text Color Light-blue */
[color="light-blue"] { color: #03a9f4; }
[color="light-blue-1"] { color: #e1f5fe; }
[color="light-blue-2"] { color: #b3e5fc; }
[color="light-blue-3"] { color: #81d4fa; }
[color="light-blue-4"] { color: #4fc3f7; }
[color="light-blue-5"] { color: #29b6f6; }
[color="light-blue-6"] { color: #039be5; }
[color="light-blue-7"] { color: #0288d1; }
[color="light-blue-8"] { color: #0277bd; }
[color="light-blue-9"] { color: #01579b; }
[color="light-blue-a-1"] { color: #80d8ff; }
[color="light-blue-a-2"] { color: #40c4ff; }
[color="light-blue-a-3"] { color: #00b0ff; }
[color="light-blue-a-4"] { color: #0091ea; }



.light-blue {
  background-color: #03a9f4 !important;
}

.light-blue-text {
  color: #03a9f4 !important;
}

.light-blue.lighten-5 {
  background-color: #e1f5fe !important;
}

.light-blue-text.text-lighten-5 {
  color: #e1f5fe !important;
}

.light-blue.lighten-4 {
  background-color: #b3e5fc !important;
}

.light-blue-text.text-lighten-4 {
  color: #b3e5fc !important;
}

.light-blue.lighten-3 {
  background-color: #81d4fa !important;
}

.light-blue-text.text-lighten-3 {
  color: #81d4fa !important;
}

.light-blue.lighten-2 {
  background-color: #4fc3f7 !important;
}

.light-blue-text.text-lighten-2 {
  color: #4fc3f7 !important;
}

.light-blue.lighten-1 {
  background-color: #29b6f6 !important;
}

.light-blue-text.text-lighten-1 {
  color: #29b6f6 !important;
}

.light-blue.darken-1 {
  background-color: #039be5 !important;
}

.light-blue-text.text-darken-1 {
  color: #039be5 !important;
}

.light-blue.darken-2 {
  background-color: #0288d1 !important;
}

.light-blue-text.text-darken-2 {
  color: #0288d1 !important;
}

.light-blue.darken-3 {
  background-color: #0277bd !important;
}

.light-blue-text.text-darken-3 {
  color: #0277bd !important;
}

.light-blue.darken-4 {
  background-color: #01579b !important;
}

.light-blue-text.text-darken-4 {
  color: #01579b !important;
}

.light-blue.accent-1 {
  background-color: #80d8ff !important;
}

.light-blue-text.text-accent-1 {
  color: #80d8ff !important;
}

.light-blue.accent-2 {
  background-color: #40c4ff !important;
}

.light-blue-text.text-accent-2 {
  color: #40c4ff !important;
}

.light-blue.accent-3 {
  background-color: #00b0ff !important;
}

.light-blue-text.text-accent-3 {
  color: #00b0ff !important;
}

.light-blue.accent-4 {
  background-color: #0091ea !important;
}

.light-blue-text.text-accent-4 {
  color: #0091ea !important;
}