[ container ] {
    align-items: center;
    display: webkit-grid;
    display: moz-grid;
    display: ms-grid;
    display: o-grid;
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-template-rows: auto;
    grid-auto-flow: row;
    page-break-after: always;
}

[ container ]::before,
[ container ]::after {
    content: "";
    clear: both;
}

[ container ], 
[ container ] * {
    position: relative;
    box-sizing: border-box;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
    clear: both;
}