/* Tablets - Medium Devices (tablets, 768px > 991px) */
@media ( min-width: 768px ) {
    html * [ md ] { clear: auto; }

    html * [ md*="01-" ] { grid-column-start: 1; }
    html * [ md*="02-" ] { grid-column-start: 2; }
    html * [ md*="03-" ] { grid-column-start: 3; }
    html * [ md*="04-" ] { grid-column-start: 4; }
    html * [ md*="05-" ] { grid-column-start: 5; }
    html * [ md*="06-" ] { grid-column-start: 6; }
    html * [ md*="07-" ] { grid-column-start: 7; }
    html * [ md*="08-" ] { grid-column-start: 8; }
    html * [ md*="09-" ] { grid-column-start: 9; }
    html * [ md*="10-" ] { grid-column-start: 10; }
    html * [ md*="11-" ] { grid-column-start: 11; }
    html * [ md*="12-" ] { grid-column-start: 12; }

    html * [ md*="-01" ] { grid-column-end: 2; }
    html * [ md*="-02" ] { grid-column-end: 3; }
    html * [ md*="-03" ] { grid-column-end: 4; }
    html * [ md*="-04" ] { grid-column-end: 5; }
    html * [ md*="-05" ] { grid-column-end: 6; }
    html * [ md*="-06" ] { grid-column-end: 7; }
    html * [ md*="-07" ] { grid-column-end: 8; }
    html * [ md*="-08" ] { grid-column-end: 9; }
    html * [ md*="-09" ] { grid-column-end: 10; }
    html * [ md*="-10" ] { grid-column-end: 11; }
    html * [ md*="-11" ] { grid-column-end: 12; }
    html * [ md*="-12" ] { grid-column-end: 13; }
}