/* Extra Small Phones - Small Devices (portrait phones, 320px - 575px) */
@media ( min-width: 32px ) {
    html * [ xs ] { clear: auto; }

    html * [ xs*="01-" ] { grid-column-start: 1; }
    html * [ xs*="02-" ] { grid-column-start: 2; }
    html * [ xs*="03-" ] { grid-column-start: 3; }
    html * [ xs*="04-" ] { grid-column-start: 4; }
    html * [ xs*="05-" ] { grid-column-start: 5; }
    html * [ xs*="06-" ] { grid-column-start: 6; }
    html * [ xs*="07-" ] { grid-column-start: 7; }
    html * [ xs*="08-" ] { grid-column-start: 8; }
    html * [ xs*="09-" ] { grid-column-start: 9; }
    html * [ xs*="10-" ] { grid-column-start: 10; }
    html * [ xs*="11-" ] { grid-column-start: 11; }
    html * [ xs*="12-" ] { grid-column-start: 12; }

    html * [ xs*="-01" ] { grid-column-end: 2; }
    html * [ xs*="-02" ] { grid-column-end: 3; }
    html * [ xs*="-03" ] { grid-column-end: 4; }
    html * [ xs*="-04" ] { grid-column-end: 5; }
    html * [ xs*="-05" ] { grid-column-end: 6; }
    html * [ xs*="-06" ] { grid-column-end: 7; }
    html * [ xs*="-07" ] { grid-column-end: 8; }
    html * [ xs*="-08" ] { grid-column-end: 9; }
    html * [ xs*="-09" ] { grid-column-end: 10; }
    html * [ xs*="-10" ] { grid-column-end: 11; }
    html * [ xs*="-11" ] { grid-column-end: 12; }
    html * [ xs*="-12" ] { grid-column-end: 13; }
}