/*COMPONENT SHPAE LOCK */
body [data-shape="lock"] {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFF;
	border-radius: 4px;
	position: relative;
	top: calc(50% - 9px);
}

body [data-shape="lock"]::before {
	content: "";
	display: inline-block;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	position: absolute;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	border-bottom: transparent;
	border-left: transparent;
	transform: rotate(-45deg);
	top: -7px;
	left: 1px;
}

body [data-shape="lock"]::after {
	content: "";
	display: inline-block;
	position: absolute;
	width: 0;
	height: 3px;
	left: 5px;
	top: 3px;
	border: solid 1px;
	border-color: inherit;
}