html body,
html body > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    font-family: Verdana, Arial, Sans-serif !important;
    vertical-align: baseline;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
}


/*GRid Layout*/
header,
main,
footer {
    border: solid 0.05px #F00;
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

